<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		.td_btn,
		.th_btn {
			text-align: end;
		}

		.selectable:hover {
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		}
	</style>
</th:block>

<!-- Main Content -->
<div class="main-content" layout:fragment="content">
	<div class="container-fluid mb-4 mb-md-0">
		<div class="row">
			<!-- Card -->
			<div class="col-12 col-md-6" style="height: auto;">
				<nav class="chat_aside bg-white" style="width:auto;">
					<!-- Header -->
					<div
						class="contact-header d-flex align-items-center justify-content-start flex-row bg-white border-bottom">
						<!-- Btn -->
						<div class="d-flex align-items-center justify-content-center mr-20">
							<!-- Add New Contact Btn -->
							<!-- a의 class=btn을 btn-circle로 하면 원래버튼 -->
							<div class="add-new-contact">
								<a href="#" class="btn-circle" data-toggle="modal" data-target="#contactAddModal"
									data-group-type="main_group">
									<img th:src="@{/img/svg/plus_white.svg}" alt="" class="svg" />
								</a>
							</div>
						</div>
						<!-- title -->
						<div class=" d-flex flex-column align-items-start justify-content-center">
							<h4 class="font-20">
								대분류
							</h4>
						</div>
					</div>

					<!-- Content -->
					<div class="aside-body ps" data-trigger="scrollbar">
						<div class="tab-content">
							<div>
								<div class="table-responsive">
									<!-- Invoice List Table -->
									<table id="mainGroupTable" class="text-nowrap bg-white">
										<thead>
											<tr>
												<th hidden>
													Id
												</th>
												<th>
													이름
												</th>
												<th class="th_btn">수정</th>
											</tr>
										</thead>
										<tbody>
											<tr class="selectable" th:each="mainGroup : ${mainGroupList}"
												style="cursor:pointer;">
												<td th:text="${mainGroup.id}" hidden></td>
												<td th:text="${mainGroup.name}"></td>
												<td class="td_btn">
													<span class="contact-edit" data-toggle="modal"
														data-target="#contactEditModal" data-group-type="main_group"
														style="cursor:pointer;">
														<img src="/img/svg/c-edit.svg" alt="" class="svg" />
													</span>
												</td>
											</tr>
										</tbody>
									</table>
									<!-- End Contact List Table -->
								</div>
							</div>
						</div>
					</div>
					<!-- End Content -->
				</nav>
			</div>
			<!-- End Card-->
			<!-- Card -->
			<div class="col-12 col-md-6" style="height: auto;">
				<nav class="chat_aside bg-white" style="width:auto;">
					<!-- Header -->
					<div
						class="contact-header d-flex align-items-center justify-content-start flex-row bg-white border-bottom">
						<!-- Btn -->
						<div class="d-flex align-items-center justify-content-center mr-20">
							<!-- Add New Contact Btn -->
							<!-- a의 class=btn을 btn-circle로 하면 원래버튼 -->
							<div class="add-new-contact">
								<a href="#" class="btn-circle" data-toggle="modal" data-target="#contactAddModal"
									data-group-type="sub_group">
									<img th:src="@{/img/svg/plus_white.svg}" alt="" class="svg" />
								</a>
							</div>
						</div>
						<!-- title -->
						<div class="d-flex flex-column align-items-start justify-content-center">
							<h4 class="font-20">
								중분류
							</h4>
						</div>
					</div>

					<!-- Content -->
					<div class="aside-body ps" data-trigger="scrollbar">
						<div class="tab-content">
							<div>
								<div class="table-responsive">
									<!-- Invoice List Table -->
									<table id="subGroupTable" class="text-nowrap bg-white">
										<thead>
											<tr>
												<th hidden>
													Id
												</th>
												<th>
													이름
												</th>
												<th class="th_btn">수정</th>
											</tr>
										</thead>
										<tbody>

										</tbody>
									</table>
									<!-- End Contact List Table -->
								</div>
							</div>
						</div>
					</div>
					<!-- End Content -->
				</nav>
			</div>
			<!-- End Card-->
		</div>
	</div>
	<!-- Contact Add New PopUp -->
	<div id="contactAddModal" class="modal fade">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<!-- Modal Body -->
				<div class="modal-body">
					<form>
						<div class="media flex-column flex-sm-row">
							<div class="contact-account-setting media-body">
								<h1 id="addFormTitle" class="mb-4">분류 정보 추가</h1>
								<input id="addFormId" hidden></input>
								<div class="form-group mb-4">
									<label class="bold black mb-2" for="addFormName">이름</label>
									<div class="input-group addon" style="flex-wrap:nowrap;">
										<div class="input-group-prepend">
											<div id="addFormNameAddOn" class="input-group-text black bold">@</div>
										</div>
										<input type="text" id="addFormName" class="theme-input-style"
											placeholder="이름을 입력하세요" required />
									</div>
								</div>
								<div class="form-group mb-4" hidden>
									<div class="row">
										<div class="col-4">
											<label for="addFormMainGroupSelect" class="mb-2 black bold d-block">Main
												Group</label>
											<div class="custom-select style--two">
												<select class="theme-input-style" id="addFormMainGroupSelect">
													<option th:each="mainGroupDto : ${mainGroupDtoList}"
														th:value="${mainGroupDto.id}" th:text="${mainGroupDto.name}">
														name?</option>
												</select>
											</div>
										</div>
										<div class="col-4">
											<label for="addFormSubGroupSelect" class="mb-2 black bold d-block">Sub
												Group</label>
											<div class="custom-select style--two">
												<select class="theme-input-style" id="addFormSubGroupSelect">

												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="mb-4">
									<button id="addFormBtn" class="btn mr-4" type="button">저장</button>
									<a href="#" class="cancel font-14 bold" data-dismiss="modal">취소</a>
								</div>
							</div>
						</div>
					</form>
				</div>
				<!-- End Modal Body -->
			</div>
		</div>
	</div>
	<!-- End Contact Add New PopUp -->

	<!-- Contact Edit PopUp -->
	<div id="contactEditModal" class="modal fade">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<!-- Modal Body -->
				<div class="modal-body">
					<form>
						<div class="media flex-column flex-sm-row">
							<div class="contact-account-setting media-body">
								<h1 id="editFormTitle" class="mb-4">분류 정보 추가</h1>
								<input id="editFormId" hidden></input>
								<div class="form-group mb-4">
									<label class="bold black mb-2" for="editFormName">이름</label>
									<div class="input-group addon" style="flex-wrap:nowrap;">
										<div class="input-group-prepend">
											<div id="editFormNameAddOn" class="input-group-text black bold">@</div>
										</div>
										<input type="text" id="editFormName" class="theme-input-style"
											placeholder="이름을 입력하세요" required />
									</div>
								</div>
								<div class="form-group mb-4" hidden>
									<div class="row">
										<div class="col-4">
											<label for="editFormMainGroupSelect" class="mb-2 black bold d-block">Main
												Group</label>
											<div class="custom-select style--two">
												<select class="theme-input-style" id="addFormMainGroupSelect">
													<option th:each="mainGroupDto : ${mainGroupDtoList}"
														th:value="${mainGroupDto.id}" th:text="${mainGroupDto.name}">
														name?</option>
												</select>
											</div>
										</div>
										<div class="col-4">
											<label for="editFormSubGroupSelect" class="mb-2 black bold d-block">Sub
												Group</label>
											<div class="custom-select style--two">
												<select class="theme-input-style" id="addFormSubGroupSelect">

												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="mb-4">
									<button id="editFormBtn" data-post-data="null" class="btn mr-4"
										type="button">저장</button>
									<a href="#" class="cancel font-14 bold" data-dismiss="modal">취소</a>
								</div>
							</div>
						</div>
					</form>
				</div>
				<!-- End Modal Body -->
			</div>
		</div>
	</div>
	<!-- End Contact Edit PopUp -->


</div>
<!-- End Main Content -->

<!-- 사용자 script 추가 -->
<th:block layout:fragment="script">
<script th:inline="javascript">
	function loadSubGroups(mainGroupId) {
		return new Promise((resolved, rejected) => {
			abcHttp.get(
				'/sub_group/get',
				{
					mainGroupId: mainGroupId
				})
				.then(data => {
					var subGroupList = '';
					data.forEach(function (subGroup) {
						subGroupList += `
					    <tr class="selectable">
					        <td hidden>${subGroup.id}</td>
					        <td>${subGroup.name}</td>
					        <td class="td_btn">
					            <span class="contact-edit" data-toggle="modal" data-target="#contactEditModal" data-group-type="sub_group" style="cursor:pointer;">
					                <img src="/img/svg/c-edit.svg" alt="" class="svg" style="border-radius:0%;" />
					            </span>
					        </td>
					    </tr>
					    `;
					});
					this.innerHTML = subGroupList;
					resolved();
				})
				.catch(error => {
					rejected();
				});
		});
	}

	
	document.getElementById("addFormBtn").addEventListener("click", _ => formBtnClickHandler('add'));
	document.getElementById("editFormBtn").addEventListener("click", _ => formBtnClickHandler('edit'));

	// addForm, editForm Modal의 submitBtn clickEventHandler.
	// mode : add / edit
	function formBtnClickHandler(mode) {
		if (mode === "add" || mode === "edit") {
		    const pt = document.getElementById(`${mode}FormBtn`).getAttribute("data-group-type");
		    abcHttp.post(
		        `${pt}/${mode === 'add' ? 'new' : mode}`,
		        pt === "main_group" ?
	            {
	                id: mode === 'add' ? 0 : document.getElementById(`${mode}FormId`).value,
	                name: document.getElementById(`${mode}FormName`).value
	            } :
	            pt === "sub_group" ?
                {
                    id: mode === 'add' ? 0 : document.getElementById(`${mode}FormId`).value,
                    name: document.getElementById(`${mode}FormName`).value,
                    mainGroupDtoId: selectStates["mainGroupTable"].id
                } :
                null,
		    )
		    .then(response => {
		        Swal.fire({
		            type: "success",
		            title: "저장됨",
		            text: "정상적으로 저장되었습니다.",
		        })
		        .then(result => {
		            location.href = 'groups';
		        });
		        setTimeout(() => {
		            $(`#contactAddModal`).modal("hide");
		            $(`#contactEditModal`).modal("hide");
		        }, 0);
		    });
		} else {
		    console.log(`choose add or edit. you've selected ${mode}`);
		}
	}

	// 현재 어떤 상위 목록이 선택되어 있는지 저장하는 변수.
	const selectStates = {
		mainGroupTable: null,
	};
	
	// 상위 목록 선택 후, 새로 생성된 하위 목록 element 중 버튼들에 이벤트 핸들러 걸어줌.
	function addClickHandler(tableId) {
		const table = document.getElementById(tableId);
		const selectableRows = table.querySelectorAll('.selectable');

		selectableRows.forEach(row => {
			row.addEventListener('click', function (event) {
				const clickedElement = event.target;
				if (clickedElement.tagName === 'path' || clickedElement.tagName === 'IMG') {
					// If clicked element is a data-toggle span, do nothing.
					return;
				}
				// color switch
				if (!this.classList.contains('bg-primary-light')) {
					selectableRows.forEach(row => {
						row.classList.remove('bg-primary-light');
					});
					this.classList.add('bg-primary-light');


					//load & draw
					if (tableId === 'mainGroupTable') {
						loadSubGroups.apply(
							document.querySelector("#subGroupTable tbody"),
							[
								parseInt(this.querySelector('td').textContent.trim()),
								true
							])
							.then(resolved => {
								//eventListener
								addEditFormModalEventListener();
							});
					}
					selectStates[tableId] = {
						id: parseInt(this.querySelector('td:nth-child(1)').textContent.trim()),
						name: this.querySelector('td:nth-child(2)').textContent.trim()
					}
				} else {
					this.classList.remove('bg-primary-light');
					selectStates[tableId] = null;
					if (tableId === 'mainGroupTable') {
						clearAndAddMessage('subGroupTable');
					}
				}
			});
		});
	}

	// 선택된 상위 목록 없을 시, 하위 목록 지우기
	function clearAndAddMessage(tableId) {
		const table = document.getElementById(tableId);
		const tbody = table.querySelector('tbody');
		if (tbody) {
			tbody.innerHTML = '<tr><td colspan="999"><span>왼쪽 박스에서 상위 분류 항목을 선택해주세요.</span></td></tr>';
		}
	}
	
	
	// open addFormModal
	document.querySelectorAll(".btn-circle").forEach(element => {
		element.addEventListener("click", e => {
			const pt = element.getAttribute("data-group-type")
			document.getElementById("addFormBtn").setAttribute("data-group-type", pt);
			
			const data = setFormModalData(pt);
			
			if (data.parentGroup?.id == null) {
				Swal.fire({
					type: "warning",
					title: "상위 분류 없음",
					text: "왼쪽 박스에서 상위 분류를 먼저 선택해주세요!",
				});
				setTimeout(_ => {
					$("#contactAddModal").modal("hide");
				}, 10);
				return;
			}
			document.getElementById("addFormTitle").textContent = data.groupType.display + " 정보 추가"
			document.getElementById("addFormNameAddOn").textContent = data.parentGroup.display;
		});
	});
	// open editFormModal
	// addFormBtn과 달리 새로 생겼다 지워졌다를 반복함에 유의.
	function addEditFormModalEventListener() {
		document.querySelectorAll("table .contact-edit").forEach(element => {
			if (!element.classList.contains("listener-added")) {
				element.classList.add("listener-added");
				element.addEventListener("click", event => {
					const parentTr = element.closest('tr');
					const parentTable = element.closest('table');
					
					const data = setFormModalData(parentTable.id);

					data.id = parseInt(parentTr.querySelector('td:nth-child(1)').textContent);
					data.name = parentTr.querySelector('td:nth-child(2)').textContent;
					
					document.getElementById("editFormTitle").textContent = data.groupType.display + " 정보 수정"
					document.getElementById("editFormNameAddOn").textContent = data.parentGroup.display;
					document.getElementById("editFormName").value = data.name;
					document.getElementById("editFormId").value = data.id;
					document.getElementById("editFormBtn").setAttribute("data-group-type", data.groupType.key);
				});
			}
		});
	}
	// 모달을 열기 전 모달에 기본값을 전달하는 용도.
	function setFormModalData(group){
		const data = {
			id: null,
			name: null,
			groupType: {
				key: null, // "main_group" / "sub_group"
				display: null, // 한글, 표시용
			},
			parentGroup: {
				id: null, // id
				display: null, // 표시용
			},
		};
		
		switch (group) {
			case "main_group":
			case "mainGroupTable":
				data.groupType.key = "main_group";
				data.groupType.display = "대분류";
				data.parentGroup.id = 0;
				data.parentGroup.display = "/";
				break;
			case "sub_group":
			case "subGroupTable":
				data.groupType.key = "sub_group";
				data.groupType.display = "중분류";
				data.parentGroup.id = selectStates["mainGroupTable"]?.id;
				data.parentGroup.display = selectStates["mainGroupTable"]?.name + "/";
				break;
			default:
		}
		return data;
	}

	addEditFormModalEventListener();
	addClickHandler('mainGroupTable')
	clearAndAddMessage('subGroupTable');
</script>
</th:block>

</html>