<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		.td_btn,
		.th_btn {
			text-align: end;
		}

		.selected {
			-webkit-transition: 0.2s ease;
			-o-transition: 0.2s ease;
			transition: 0.2s ease;
		}

		.selected .selected-danger td {
			background-color: #FFE2E6;
			/* 선택한 행의 배경색을 원하는 색상으로 변경 */
			color: white;
			font-weight: 600;
		}

		.selected .selected-danger .custom-select {
			background-color: #FC7383;
			color: white;
		}

		.selected .selected-warning td {
			background-color: #FFF4E6;
			/* 선택한 행의 배경색을 원하는 색상으로 변경 */
			color: white;
			font-weight: 600;
		}

		.selected .selected-warning .custom-select {
			background-color: #FFB959;
			color: white;
		}

		.selected .selected-success td {
			background-color: #DBF7E8;
			/* 선택한 행의 배경색을 원하는 색상으로 변경 */
			color: white;
			font-weight: 600;
		}

		.selected .selected-success .custom-select {
			background-color: #67CF94;
			color: white;
		}

		.selected .selected-primary td {
			background-color: #E9E7FF;
			/* 선택한 행의 배경색을 원하는 색상으로 변경 */
			color: white;
			font-weight: 600;
		}

		.selected .selected-primary .custom-select {
			background-color: #8280FD;
			color: white;
		}
	</style>
</th:block>
<!-- Main Content -->
<div class="main-content" layout:fragment="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<!-- Card -->
				<div id="mainCard" class="card bg-transparent">
					<!-- Contact Header -->
					<div class="contact-header d-flex align-items-sm-center flex-row bg-white mb-4">

						<h4 class="font-30 m-3">대여 신청 목록</h4>
						<!-- Btn header -->
						<div class="d-flex row align-items-center ml-auto">
							<div class="col-4">
								<div class="d-flex align-items-center flex-nowrap mr-4"
									style="box-sizing: content-box;">
									<div class="custom-select style--two mr-4" style="max-width:200px;">
										<select class=" theme-input-style" id="searchBySelect" style="cursor: auto;">
											<option value="membership" selected>작업자/리더</option>
										</select>
									</div>
									<div id="searchByForm" style="width: 200px;">
										<div id="membershipForm" class="d-flex justify-content-between">
											<div id="membership">
												선택
											</div>
											<div>
												<span id="membershipEditModalBtn" class="contact-edit"
													data-toggle="modal" data-target="#membershipEditModal"
													style="cursor:pointer;">
													<img src="/img/svg/c-edit.svg" alt="" class="svg" />
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Search header -->
							<div class="d-flex col-6 align-items-center justify-content-end media-body mt-3 mt-sm-0">
								<!-- layer 1 -->
								<div class="row flex-nowrap">


									<!-- Form Group -->
									<div class="form-group mr-2">
										<label class="mb-2 font-14 bold">시작 날짜</label>

										<!-- Date Picker -->
										<div class="dashboard-date style--four">
											<span id="start-date-btn" class="input-group-addon">
												<img th:src="@{/img/svg/calender.svg}" alt="" class="svg" />
											</span>

											<input type="text" id="start-date" placeholder="Select Date" />
										</div>
										<!-- End Date Picker -->
									</div>
									<!-- End Form Group -->

									<!-- Form Group -->
									<div class="form-group">
										<label class="mb-2 font-14 bold">종료 날짜</label>

										<!-- Date Picker -->
										<div class="dashboard-date style--four">
											<span id="end-date-btn" class="input-group-addon">
												<img th:src="@{/img/svg/calender.svg}" alt="" class="svg" />
											</span>

											<input type="text" id="end-date" placeholder="Select Date" />
										</div>
										<!-- End Date Picker -->
									</div>
									<!-- End Form Group -->


									<!-- 새로고침 / 알림? 등등 -->

								</div>

								<!-- layer 2 -->
								<!-- Search Condition header -->

								<!-- End Search Condition -->
							</div>
							<!-- End Contact Header -->
						</div>
					</div>
					<!-- End Contact Header -->

					<div id="containerdiv">

					</div>

				</div>
				<!-- End Card -->
				<!-- Membership Edit PopUp -->
				<div id="membershipEditModal" class="modal fade p-4">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<!-- Modal Body -->
							<div class="modal-body">
								<div class="media flex-column flex-sm-row">
									<div class="contact-account-setting media-body">
										<h4 id="membershipModalHeader" class="font-20 mb-3">사원명을 입력하세요</h4>
										<div class="form-group mb-3">
											<label id="membershipLabel">사번 : 120022 / 부서 :
												선강정비실1/정비안전지원섹션/정비안전지원팀</label>
											<div class="search-form" style="width:100%; box-sizing: content-box;">
												<div class="theme-input-group style--two">
													<input id="membershipInput" type="text" class="theme-input-style"
														placeholder="검색" />
													<button id="membershipSearchBtn">
														<img th:src="@{/img/svg/search-icon.svg}" alt="" class="svg" />
													</button>
												</div>
											</div>
											<input type="text" id="membershipId" hidden />
										</div>
										<div class="table-responsive mb-3">

										</div>
										<div>
											<button id="membershipSubmitBtn" class="btn listener-added mr-4" type="button">저장</button>
											<a href="#" class="cancel text-danger font-14 bold"
												data-dismiss="modal">취소</a>
										</div>
									</div>
								</div>
							</div>
							<!-- End Modal Body -->
						</div>
					</div>
				</div>
				<!-- End Membership Edit PopUp -->

			</div>
		</div>
	</div>
</div>
<!-- End Main Content -->
<!-- 사용자 script 추가 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">

		//전체 데이터를 저장해두는 곳
		//tag입력을 받은 후 tag를 찾기 위해 사용합니다.
		var mainTempData;

		var toolboxId = 5222;
		var membershipId = 1
		initializeDatepicker();
		$(document).ready(function () {
			abcHttp.get(
				'/membership/getbycode',
				{
					code: parseInt(document.getElementById("user-code").textContent)
				}
			)
				.then(data => {
					membershipId = data.id;
					mainData.membership.id = membershipId;
					return new Promise((resolved, rejected) => {
						abcHttp.get(
							'/toolbox/getbyname',
							{
								name: data.partDto.subPartDto.mainPartDto.name
							}
						)
							.then(toolboxData => {
								if (toolboxData == null) {
									throw error("no toolbox");
								} else {
									toolboxId = toolboxData.id;
									resolved(toolboxData.id);
								}
							})
							.catch(error => {
								Swal.fire({
									type: 'error',
									title: '정비실 없음',
									text: '로그인한 정비실장에게 지정된 정비실이 존재하지 않습니다. 인원 정보의 메인부서명과 정비실 정보의 정비실명을 일치시켜주세요.'
								}).then(() => {rejected();});
							});
					});
				})
				.then(toolboxId => {
					load(toolboxId);
					
				});
		});


		function load(toolboxId) {
			abcHttp.get(
				`/rental/request_sheet/getpage`,
				{
					page: 0,
					size: 10,
					toolboxId: toolboxId,
					membershipId: mainData.membership.id,
					isWorker: true,
					isLeader: true,
				}
			).then(data => {
				mainTempData = {data: data, toolboxId: toolboxId};

				const containerDiv = document.getElementById("containerdiv");
				containerDiv.innerHTML = '';
				let htmlString = ``
				if (data.empty) {
					htmlString = `<div class="row m-0 pt-3 pb-3 font-20">처리할 신청 목록이 없습니다.</div>`
					containerDiv.innerHTML = htmlString;
				}
				data.content.forEach(element => {
					const sheetState = {"REQUEST": "대기", "APPROVE": "승인", "CANCEL": "취소"}[element.status];
					htmlString = `
				  <!-- Sheet -->
				  <div class="sheet row bg-white m-0 pt-3 pb-3 mb-4">
				    <!-- Header Table -->
				    <div class="col-10" style="overflow-x:auto;">
				      <table class="text-nowrap bg-white">
				        <thead>
				          <tr>
				            <th>대여신청시간</th>
				            <th>정비실</th>
				            <th>작업자</th>
				            <th>리더</th>
				            <th>상태</th>
				          </tr>
				        </thead>
				        <tbody>
				          <tr>
				            <td class="time">${formatDate(element.eventTimestamp)}</td>
				            <td class="toolbox">${element.toolboxDto.name}</td>
				            <td class="worker">${element.workerDto.name}</td>
				            <td class="leader">${element.leaderDto.name}</td>
				            <td class="sheetstate">${sheetState}</td>
				          </tr>
				        </tbody>
				      </table>
				    </div>
				    <!-- End Header Table-->
				    <div class="col-2 d-flex justify-content-center align-items-center">
				      <a href="#" class="btn disabled" style="width:fit-content; height:fit-content;">
				        <span>대여승인</span>
				      </a>
				    </div>
				    <div class="col-12" style="overflow-x:auto;">
				      <table class="tool-list invoice-list-table text-nowrap bg-white">
				        <thead>
				          <tr>
				            <th>
				              <label class="custom-checkbox">
				                <input type="checkbox">
				                <span class="checkmark"></span>
				              </label>
				            </th>
				            <th>정비실명</th>
				            <th>이름</th>
				            <th>규격</th>
				            <th>신청수량</th>
				            <th>QR정보</th>
				            <th class="th_btn">삭제</th>
				          </tr>
				        </thead>
				        <tbody>
				   `;

					for (let tool of element.toolList) {
						htmlString +=
							`
				          <tr>
				            <td>
				              <label class="custom-checkbox">
				                <input type="checkbox">
				                <span class="checkmark"></span>
				              </label>
				            </td>
				            <td class="toolbox">${element.toolboxDto.name}</td>
				            <td class="name">${tool.toolDto.name}</td>
				            <td class="spec">${tool.toolDto.spec}</td>
				            <td class="count">${tool.count}</td>
				            <td class="qrcode"></td>
				            <td class="delete td_btn">
				              <span style="cursor:pointer;">
				                <img src="/img/svg/c-close.svg" alt="" class="svg">
				              </span>
				            </td>
				          </tr>
					`;
					}
					htmlString += `
				        </tbody>
					  </table>
				    </div>
				  </div>
				  <!-- End Sheet -->`;

					var outerDiv = document.createElement('div');
					outerDiv.innerHTML = htmlString;
					containerDiv.appendChild(outerDiv);

					// 서버 전송용 객체 복제. RentalRequestSheetDto.
					const dataObj = JSON.parse(JSON.stringify(element));

					// dataObj를 Sheet별로 바인딩. (call by ref)
					//addListenerApproveBtn(dataObj);
					//addListenerDeleteBtn(dataObj);


					document.querySelectorAll(".btn:not(.listener-added)").forEach(element => {
						element.addEventListener("click", function () {
							approveBtnClickHandler.call(this, dataObj);
						});
						element.classList.add("listener-added");
					});
					document.querySelectorAll(".delete span:not(.listener-added)").forEach(element => {
						element.addEventListener("click", function () {
							deleteBtnClickHandler.call(this, dataObj);
						});
						element.classList.add("listener-added");
					});
				});
				activateCheckbox();
			});
		}


		//script.js에서 참조함
		//비동기적으로 새로 생성된 html element들의 이벤트리스너 설정
		//sheet카드의 table 내의 checkbox의 클릭 이벤트리스너 설정
		function activateCheckbox() {
			if ($('.custom-checkbox input[type="checkbox"]').length) {
				$('.custom-checkbox')
					.parents('.checkbox-wrap')
					.siblings('.valid-feedback, .invalid-feedback')
					.show();
				//tbody checkbox
				$('tbody .custom-checkbox input[type="checkbox"]').on('click', function (e) {
					e.stopPropagation();

					if ($(this).prop('checked') == true) {
						$(this)
							.parent('.custom-checkbox')
							.siblings('.todo-text')
							.addClass('line-through');
						$(this).parents().filter('tbody tr').addClass('selected');
						$(this).parents('.checkbox-wrap').siblings('.valid-feedback').show();
						$(this)
							.parents('.checkbox-wrap')
							.siblings('.invalid-feedback')
							.hide();
					} else if ($(this).prop('checked') == false) {
						$(this)
							.parent('.custom-checkbox')
							.siblings('.todo-text')
							.removeClass('line-through');
						$(this).parents().filter('tbody tr').removeClass('selected');
						$(this).parents('.checkbox-wrap').siblings('.valid-feedback').hide();
						$(this)
							.parents('.checkbox-wrap')
							.siblings('.invalid-feedback')
							.show();
					}
					const theadChkbox = $(
						'.invoice-list-table thead, .invoice-list thead, .contact-list-table thead'
					).find('.custom-checkbox input[type=checkbox]');
					theadChkbox.prop('checked', Array.from(this.closest("div.sheet").querySelectorAll(".tool-list tbody tr")).every(e => e.classList.contains("selected")));
					activateApproveBtn(this);
				});
			}
			//thead Checkbox
			let theadCheckbox = $(
				'.invoice-list-table thead, .invoice-list thead, .contact-list-table thead'
			).find('.custom-checkbox input[type=checkbox]');
			if (theadCheckbox.length) {
				theadCheckbox.on('click', function () {
					if ($(this).prop('checked') == true) {
						$(this)
							.parents()
							.filter('thead')
							.siblings('tbody')
							.find('.custom-checkbox input[type="checkbox"]')
							.prop('checked', true);
						$(this)
							.parents()
							.filter('thead')
							.siblings('tbody')
							.find('tr')
							.addClass('selected');
					} else {
						$(this)
							.parents()
							.filter('thead')
							.siblings('tbody')
							.find('.custom-checkbox input[type="checkbox"]')
							.prop('checked', false);
						$(this)
							.parents()
							.filter('thead')
							.siblings('tbody')
							.find('tr')
							.removeClass('selected');
					}
					activateApproveBtn(this);
				});
			}
		}
		//sheet단위 카드의 "대여 승인" 버튼 disabled 상태 관리
		function activateApproveBtn(tableElement) {
			const sheet = tableElement.closest("div.sheet");
			const btn = sheet.querySelector("a.btn");
			const condition = Array.from(sheet.querySelectorAll(".tool-list tbody tr")).every(e => e.classList.contains("selected"));
			btn.classList.toggle("disabled", !condition);
		}
		//비동기적으로 새로 생성된 html element들의 이벤트리스너 설정
		//sheet카드의 table 내의 "X" 버튼 클릭 이벤트리스너 설정
		function deleteBtnClickHandler(data) {
			const row = this.closest("tr");
			const pString = row.querySelector(".name").textContent + ", " + row.querySelector(".count").textContent;
			const sheet = this.closest("div.sheet");
			const btn = sheet.querySelector("a.btn");

			//sheet 전체를 삭제. (마지막 남은 row 삭제)
			if (data.toolList.length <= 1) {
				Swal.fire({
					type: 'question',
					title: '삭제하시겠습니까?',
					html: '<p><br/>' + pString + '</p><p><br/> 위 항목과 함께 해당 신청 목록이 삭제됩니다. 삭제한 목록은 다시 불러올 수 없습니다. </p>',
					showCancelButton: true,
					confirmButtonText: '예',
					cancelButtonText: '아니오',
					buttonStyling: false,
				}).then(result => {
					if (result.value == true) {
						const sheet = row.closest(".sheet");
						sheet.parentNode.removeChild(sheet);
						abcHttp.post(
							`/rental/request_sheet/cancel`,
							data.id
						).then(data => {
							Swal.fire({
								type: "success",
								title: "승인 취소됨",
								text: "정상적으로 대여 신청 목록이 삭제되었습니다.",
							})
								.then(result => {
									location.href = "/rental/request_sheet/approve";
								});
						});
					}
				});

				// row 삭제.
			} else {
				Swal.fire({
					type: 'question',
					title: '삭제하시겠습니까?',
					html: '<p><br/>' + pString + '</p><p><br/> 위 항목이 삭제됩니다.</p>',
					showCancelButton: true,
					confirmButtonText: '예',
					cancelButtonText: '아니오',
					buttonStyling: false,
				}).then(result => {
					if (result.value == true) {
						var index = Array.from(row.parentNode.children).indexOf(row);
						data.toolList.splice(index, 1);
						row.parentNode.removeChild(row);
					}
				});
			}
		}
		//비동기적으로 새로 생성된 html element들의 이벤트리스너 설정
		//sheet단위 카드의 "대여 승인" 버튼 클릭 이벤트리스너 설정
		function approveBtnClickHandler(data) {
			abcHttp.post(
				`/rental/request_sheet/approve`,
				{
					rentalRequestSheetDto: data,
					approverId: membershipId
				},
			).then(data => {
				Swal.fire({
					type: "success",
					title: "대여 승인됨",
					text: "대여 승인이 정상적으로 처리되었습니다",
				})
					.then(result => {
						location.href = "/rental/request_sheet/approve";
					});
			});
		}
		//Tag정보가 입력될 시 호출합니다.
		function addTag(tag) {
			getListByTag(tag)
				.then(data => {
					console.log(data);
				});
		}

		function getTag(macAddress) {
			return new Promise((resolved, rejected) => {
				abcHttp.get(
					'/tag/get',
					{
						macAddress: macAddress
					}
				)
					.then(data => {
						resolved(data);
					})
					.catch(error => {
						rejected(error);
					});
			});
		}
		function getListByTag(tagMacAddress) {
			return new Promise((resolved, rejected) => {
				abcHttp.get(
					'/rental/request_sheet/list_by_tag',
					{
						macAddress: macAddress
					}
				)
					.then(data => {
						resolved(data);
					})
					.catch(error => {
						rejected(error);
					});
			});
		}

		// =============== Search Modals ===============
		// toolList를 제외한 rentalRequestSheetFormDto 정보를 저장합니다.
		const mainData = {
			"membership": {
				"id": 0,
				"name": ""
			}
		}

		// =============== Membership Search Modal ===============

		//작업자 수정
		document.getElementById("membershipEditModalBtn").addEventListener("click", function () {
			document.getElementById("membershipId").value = mainData.membership.id;
			document.getElementById("membershipInput").value = mainData.membership.name;
			getMembershipById(mainData.membership.id)
				.then(data => {
					document.getElementById("membershipLabel").hidden = false;
					const dataString =
						"사원번호 : " + data.code + " , " +
						"부서 : " + data.partDto.subPartDto.mainPartDto.name +
						"/" + data.partDto.subPartDto.name +
						"/" + data.partDto.name;
					document.getElementById("membershipLabel").textContent = dataString;
				})
				.catch(error => {
					document.getElementById("membershipLabel").hidden = true;
				});
			document.querySelector("#membershipEditModal .table-responsive").innerHTML = "";
		});
		//membership 수정 -> membership 수정 모달
		document.getElementById("membershipSearchBtn").addEventListener("click", function () {
			const searchName = document.getElementById("membershipInput").value;
			if (searchName.length < 1) {
				Swal.fire({
					type: "warning",
					title: "검색어 없음",
					text: "검색어를 1글자 이상 입력해주세요",
				});
				return;
			}
			getMembershipPageByName(searchName)
				.then(data => {
					if (data.empty) {
						throw new Error("검색 결과 없음");
					}

					const newTable = document.createElement('table');
					newTable.innerHTML =
						'<thead> <tr> <th> 이름 </th><th> 사원번호 </th><th> 부서 <th></th> </tr> </thead> <tbody> </tbody>';
					const newTableBody = newTable.querySelector("tbody");

					data.content.forEach(v => {
						let newRowString = "";
						newRowString += "<td>" + v.name + "</td>";
						newRowString += "<td>" + v.code + "</td>";
						newRowString += "<td>" + v.partDto.subPartDto.mainPartDto.name + " / " + v.partDto.subPartDto.name + " / " + v.partDto.name + "</td>";
						newRowString += '<td class="d-flex justify-content-between align-item-center">' +
							'<a href="#" class="btn increaseBtn p-2">' +
							'선택' +
							'</a>'

						const newRow = document.createElement("tr");
						newRow.innerHTML = newRowString;

						newRow.querySelector("a").addEventListener("click", function () {
							document.getElementById("membershipId").value = v.id;
							document.getElementById("membershipInput").value = v.name;
							document.getElementById("membershipLabel").hidden = false;
							const dataString =
								"부서 : " + v.partDto.subPartDto.mainPartDto.name +
								"/" + v.partDto.subPartDto.name +
								"/" + v.partDto.name;
							document.getElementById("membershipLabel").textContent = dataString;
							document.querySelector("#membershipEditModal .table-responsive").innerHTML = "";
						})
						newTableBody.appendChild(newRow);
					});

					document.querySelector("#membershipEditModal .table-responsive").innerHTML = "";
					document.querySelector("#membershipEditModal .table-responsive").appendChild(newTable);
				})
				.catch(error => {
					Swal.fire({
						type: "info",
						title: "검색 결과 없음",
						text: "검색 결과가 없습니다. 검색어를 다시 확인해주세요.",
					});
					return;
				});
		});
		//membership 수정 모달 -> 검색
		document.getElementById("membershipInput").addEventListener("keypress", e => {
			if (e.key === "Enter") {
				document.getElementById("membershipSearchBtn").click();
			}
		});
		//membership 수정 모달 -> 모달 내용 저장
		document.getElementById("membershipSubmitBtn").addEventListener("click", function () {
			const id = document.getElementById("membershipId").value;
			const name = document.getElementById("membershipInput").value;
			if (id <= 0) {
				Swal.fire({
					type: "error",
					title: "필수 입력 누락",
					text: "사원 정보가 선택되지 않았습니다."
				});
				return;
			}
			mainData.membership.id = id;
			mainData.membership.name = name;
			document.getElementById("membership").textContent = mainData.membership.name;
			$("#membershipEditModal").modal("hide");
			load(toolboxId);
		});

		//fetch
		function getMembershipById(id) {
			return new Promise((resolve, reject) => {
				abcHttp.get(
					'/membership/get',
					{
						id: id
					}
				)
					.then(data => {
						resolve(data);
					})
					.catch(error => {
						reject(error);
					});
			});
		}
		//fetch
		function getMembershipPageByName(name) {
			return new Promise((resolve, reject) => {
				abcHttp.get(
					'/membership/getpage',
					{
						page: 0,
						size: 50,
						name: name
					}
				)
					.then(data => {
						resolve(data);
					})
					.catch(error => {
						reject(error);
					});
			});
		}

	//Datepicker 초기화 (현재 날짜 기준 초기 범위 설정, 이벤트 리스너 설정)
		function initializeDatepicker() {
			const today = new Date();
			const year = today.getFullYear();
			const month = today.getMonth() + 1;
			const day = today.getDate();
			const formattedTodayDate = year + '-' + (month < 10 ? '0' : '') + month + '-' + (day < 10 ? '0' : '') + day;
			const formattedLastMonthDate = year + '-' + (month < 10 ? '0' : '') + (month - 1) + '-' + (day < 10 ? '0' : '') + day;
			$('#start-date').val(formattedLastMonthDate);
			$('#end-date').val(formattedTodayDate);

			$('#start-date').on('change', function () {
				load(toolboxId);
				console.log('start changed')
			});
			$('#end-date').on('change', function () {
				load(toolboxId);
				console.log('end changed')
			})

			$('#start-date').datepicker({
				language: 'en',
				dateFormat: 'yyyy-mm-dd',
				onSelect: function () {
					load(toolboxId);
					console.log('start changed')
				}
			});
			$('#start-date-btn').on('click', function () {
				$('#start-date').datepicker('show');
			});
			$('#end-date').datepicker({
				language: 'en',
				dateFormat: 'yyyy-mm-dd',
				onSelect: function () {
					load(toolboxId);
					console.log('end changed')
				}
			});
			$('#end-date-btn').on('click', function () {
				$('#end-date').datepicker('show');
			});
		}


		function formatDate(inputDate) {
			const dateObject = new Date(inputDate);
			const year = dateObject.getFullYear();
			const month = (dateObject.getMonth() + 1).toString().padStart(2, '0');
			const day = dateObject.getDate().toString().padStart(2, '0');
			const hours = dateObject.getHours().toString().padStart(2, '0');
			const minutes = dateObject.getMinutes().toString().padStart(2, '0');

			const formattedDate = `${year}-${month}-${day} ${hours}:${minutes}`;

			return formattedDate;
		}

	</script>
</th:block>

</html>