
<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}"
>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
<style>
.selected td {
    background-color: #67CF94; /* 선택한 행의 배경색을 원하는 색상으로 변경 */
    color : white;
    font-weight:600;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}
</style>
</th:block>
<!-- Main Content -->
<div class="main-content" layout:fragment="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<!-- Card -->
				<div id="mainCard" class="card bg-transparent">
					<!-- Contact Header -->
					<div class="contact-header d-flex align-items-sm-center flex-row bg-white mb-4" >
					
						<h4 class="font-30 m-3">공기구 대여 신청</h4>
						<!-- Btn header -->
						<div class="col-12 col-sm-2 d-flex align-items-center">
							<!-- Add New Contact Btn -->
							<!-- a의 class=btn을 btn-circle로 하면 원래버튼 -->
							<div class="add-new-contact">
								<a
									href="#"
									class="btn"
									data-toggle="modal"
									data-target="#contactAddModal"
									hidden>
									<img
										th:src="@{/img/svg/plus_white.svg}"
										alt=""
										class="svg" />
									<span>추가</span>
								</a>
							</div>
							<!-- End Add New Contact Btn -->
						</div>
						<!-- Search header -->
						<form class="col-12 col-sm-10 d-flex flex-column align-items-center justify-content-end media-body mt-3 mt-sm-0" >
							<!-- layer 1 -->
							<div class="row"style="width:100%; box-sizing: content-box;" >			
								<!-- Search Form -->								
								<div class="search-form" style="width:100%; box-sizing: content-box;" hidden>
									<div class="theme-input-group style--two">
										<input
											id="searchInput"
											type="text"
											class="theme-input-style"
											placeholder="이곳에 새로고침 버튼 또는 알림 버튼을 배치할 가능성" />
										<button id="searchBtn" type="submit">
											<img
												th:src="@{/img/svg/search-icon.svg}"
												alt=""
												class="svg" />
										</button>
									</div>
								</div>
								<!-- End Search Form -->
								
								<!-- 새로고침 / 알림? 등등 -->
								
							</div>
						
							<!-- layer 2 -->
							<!-- Search Condition header -->
							
						<!-- End Search Condition -->
					</div>
					<!-- End Contact Header -->
					
				</div>
				<!-- End Card -->
				
			</div>
		</div>
	</div>
</div>
<!-- End Main Content -->
<!-- 사용자 script 추가 -->
<th:block layout:fragment="script">
<script th:inline="javascript">
	
	$(document).ready(function(){
			
		const toolboxId = 5222; // 로그인 구현 후 사용자 정보를 불러와서 수정하기
		
		post(
			`/rental/request_sheet/getpage?page=0&size=10&toolboxId=${toolboxId}`
		).then(data=>{
			const mainCard=document.getElementById("mainCard");
			let htmlString = ``
			if (data.empty) {
				htmlString = `<div class="row m-0 pt-3 pb-3 font-20">처리할 신청 목록이 없습니다.</div>`
				var containerDiv = document.createElement("div");
				containerDiv.innerHTML=htmlString;
				mainCard.appendChild(containerDiv);
			}
			data.content.forEach(element=>{
				const sheetState={"REQUEST":"대기", "APPROVE":"승인", "CANCEL":"취소"}[element.status];
				htmlString = `
				  <!-- Sheet -->
				  <div class="sheet row bg-white m-0 pt-3 pb-3 mb-4">
				    <!-- Header Table -->
				    <div class="col-10" style="overflow-x:auto;">
				      <table class="text-nowrap bg-white">
				        <thead>
				          <tr>
				            <th>대여신청시간</th>
				            <th>정비실</th>
				            <th>작업자</th>
				            <th>리더</th>
				            <th>상태</th>
				          </tr>
				        </thead>
				        <tbody>
				          <tr>
				            <td class="time">${formatDate(element.eventTimestamp)}</td>
				            <td class="toolbox">${element.toolboxDto.name}</td>
				            <td class="worker">${element.workerDto.name}</td>
				            <td class="leader">${element.leaderDto.name}</td>
				            <td class="sheetstate">${sheetState}</td>
				          </tr>
				        </tbody>
				      </table>
				    </div>
				    <!-- End Header Table-->
				    <div class="col-2 d-flex justify-content-center align-items-center">
				      <a href="#" class="btn disabled" style="width:fit-content; height:fit-content;">
				        <span>대여승인</span>
				      </a>
				    </div>
				    <div class="col-12" style="overflow-x:auto;">
				      <table class="tool-list invoice-list-table text-nowrap bg-white">
				        <thead>
				          <tr>
				            <th>
				              <label class="custom-checkbox">
				                <input type="checkbox">
				                <span class="checkmark"></span>
				              </label>
				            </th>
				            <th>정비실명</th>
				            <th>이름</th>
				            <th>규격</th>
				            <th>신청수량</th>
				            <th>QR정보</th>
				            <th>삭제</th>
				          </tr>
				        </thead>
				        <tbody>
				   `;
			   
				for (let tool of element.toolList){
					htmlString+=
					`
				          <tr>
				            <td>
				              <label class="custom-checkbox">
				                <input type="checkbox">
				                <span class="checkmark"></span>
				              </label>
				            </td>
				            <td class="toolbox">${element.toolboxDto.name}</td>
				            <td class="name">${tool.toolDto.name}</td>
				            <td class="spec">${tool.toolDto.spec}</td>
				            <td class="count">${tool.count}</td>
				            <td class="qrcode"></td>
				            <td class="delete">
				              <span style="cursor:pointer;">
				                <img src="/img/svg/c-close.svg" alt="" class="svg">
				              </span>
				            </td>
				          </tr>
					`;
				}
				htmlString+=`
				        </tbody>
					  </table>
				    </div>
				  </div>
				  <!-- End Sheet -->`;   
				
				var containerDiv = document.createElement("div");
				containerDiv.innerHTML=htmlString;
				mainCard.appendChild(containerDiv);
				
				const dataObj = JSON.parse(JSON.stringify(element));
				
				addListenerApproveBtn(dataObj);
				addListenerDeleteBtn(dataObj);
			});
			activateCheckbox();
		});
	});
	
	
	//script.js에서 참조함
	function activateCheckbox(){
		if ($('.custom-checkbox input[type="checkbox"]').length) {
			$('.custom-checkbox')
				.parents('.checkbox-wrap')
				.siblings('.valid-feedback, .invalid-feedback')
				.show();
			$('.custom-checkbox input[type="checkbox"]').on('click', function (e) {
				e.stopPropagation();
	
				if ($(this).prop('checked') == true) {
					$(this)
						.parent('.custom-checkbox')
						.siblings('.todo-text')
						.addClass('line-through');
					$(this).parents().filter('tbody tr').addClass('selected');
					$(this).parents('.checkbox-wrap').siblings('.valid-feedback').show();
					$(this)
						.parents('.checkbox-wrap')
						.siblings('.invalid-feedback')
						.hide();
				} else if ($(this).prop('checked') == false) {
					$(this)
						.parent('.custom-checkbox')
						.siblings('.todo-text')
						.removeClass('line-through');
					$(this).parents().filter('tbody tr').removeClass('selected');
					$(this).parents('.checkbox-wrap').siblings('.valid-feedback').hide();
					$(this)
						.parents('.checkbox-wrap')
						.siblings('.invalid-feedback')
						.show();
				}
				activateApproveBtn.apply(this);
			});
		}
		let invoiceTbodyCheckbox = $(
			'.invoice-list-table thead, .invoice-list thead, .contact-list-table thead'
		).find('.custom-checkbox input[type=checkbox]');
		if (invoiceTbodyCheckbox.length) {
			invoiceTbodyCheckbox.on('click', function () {
				if ($(this).prop('checked') == true) {
					$(this)
						.parents()
						.filter('thead')
						.siblings('tbody')
						.find('.custom-checkbox input[type="checkbox"]')
						.prop('checked', true);
					$(this)
						.parents()
						.filter('thead')
						.siblings('tbody')
						.find('tr')
						.addClass('selected');
				} else {
					$(this)
						.parents()
						.filter('thead')
						.siblings('tbody')
						.find('.custom-checkbox input[type="checkbox"]')
						.prop('checked', false);
					$(this)
						.parents()
						.filter('thead')
						.siblings('tbody')
						.find('tr')
						.removeClass('selected');
				}
				activateApproveBtn.apply(this);
			});
		}
	}
	function activateApproveBtn(){
		const sheet = this.closest("div.sheet");
		const btn = sheet.querySelector("a.btn");
		const condition = Array.from(sheet.querySelectorAll(".tool-list tbody tr")).every(e=>e.classList.contains("selected"));
		btn.classList.toggle("disabled",!condition);
	}
	function addListenerDeleteBtn(data){
		document.querySelectorAll(".delete span:not(.listener-added)").forEach(element=>{
			element.addEventListener("click",function(){
				const row = this.closest("tr");
				const pString = row.querySelector(".name").textContent + ", " + row.querySelector(".count").textContent;
				const sheet = this.closest("div.sheet");
				const btn = sheet.querySelector("a.btn");
				
				if (data.toolList.length<=1){
					Swal.fire({
				        type: 'question',
				        title: '삭제하시겠습니까?',
				        html: '<p><br/>' +pString+ '</p><p><br/> 위 항목과 함께 해당 신청 목록이 삭제됩니다. 삭제한 목록은 다시 불러올 수 없습니다. </p>',
				        showCancelButton: true,
				        confirmButtonText: '예',
						cancelButtonText: '아니오',
						buttonStyling:false,
					}).then(result =>{
						if (result.value==true) {
							const sheet = row.closest(".sheet");
							sheet.parentNode.removeChild(sheet);
							post(
								`/rental/request_sheet/cancel?sheetId=${data.id}`,
								null,
							).then(data=>{
								Swal.fire({
									type:"success",
									title:"승인 취소됨",
									text:"정상적으로 대여 신청 목록이 삭제되었습니다.",
								})
								.then(result=>{
									location.href="/rental/request_sheet/admin";
								});
							});
						}
					});	
				}else{
					Swal.fire({
				        type: 'question',
				        title: '삭제하시겠습니까?',
				        html: '<p><br/>' +pString+ '</p><p><br/> 위 항목이 삭제됩니다.</p>',
				        showCancelButton: true,
				        confirmButtonText: '예',
						cancelButtonText: '아니오',
						buttonStyling:false,
					}).then(result =>{
						if (result.value==true) {
							var index=Array.from(row.parentNode.children).indexOf(row);
							data.toolList.splice(index,1);
							row.parentNode.removeChild(row);
						}
					});	
				}
			});
			element.classList.add("listener-added");
		});
	}
	function addListenerApproveBtn(data){
		document.querySelectorAll(".btn:not(.listener-added)").forEach(element=>{
			element.addEventListener("click",function(){
				post(
					`/rental/request_sheet/approve`,
					{
						rentalRequestSheetDto:data,
						approverId:113
					},
				).then(data=>{
					Swal.fire({
						type:"success",
						title:"대여 승인됨",
						text:"대여 승인이 정상적으로 처리되었습니다",
					})
					.then(result=>{
						location.href="/rental/request_sheet/admin";
					});
				});
			});
			element.classList.add("listener-added");
		});
	}
	
	function formatDate(inputDate) {
		const dateObject = new Date(inputDate);
		const year = dateObject.getFullYear();
		const month = (dateObject.getMonth() + 1).toString().padStart(2, '0');
		const day = dateObject.getDate().toString().padStart(2, '0');
		const hours = dateObject.getHours().toString().padStart(2, '0');
		const minutes = dateObject.getMinutes().toString().padStart(2, '0');
		  
		const formattedDate = `${year}-${month}-${day} ${hours}:${minutes}`;
		  
		return formattedDate;
	}
	
	function post(url, paramData, redirection) {
	    return new Promise((resolve, reject) => {
	        fetch(url, {
	            method: "POST",
	            headers: {
	                "Content-Type": "application/json",
	            },
	            body: JSON.stringify(paramData),
	        })
	        .then(response => {
	            if (!response.ok) {
	                throw new Error(`HTTP error! Status: ${response.status}`);
	            }
	            return response.json();
	        })
	        .then(data => {
	            if (redirection != null) {
	                location.href = redirection;
	            } else {
	            	resolve(data);
	            }
	        })
	        .catch(error => {
	            console.error('Error:', error);
	            Swal.fire({
	                type: "error",
	                title: "Error!",
	                text: error,
	            });
	            setTimeout(() => {
	                $("#contactAddModal").modal("hide");
	                $("#contactEditModal").modal("hide");
	            }, 0);
	            reject(error);
	        });
	    });
	}
</script>
</th:block>

</html>