
<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}"
>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
<style>
.selected {
    background-color: #f0f0f0; /* 선택한 행의 배경색을 원하는 색상으로 변경 */
}

.hidden-column {
    display: none;
}

</style>
</th:block>
<!-- Main Content -->
<div class="main-content" layout:fragment="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<!-- Card -->
				<div class="card bg-transparent">
					<!-- Contact Header -->
					<div class="contact-header d-flex align-items-sm-center flex-row bg-white mb-30" >
					
						<h4 class="font-30 m-3">공기구 대여 신청 리스트 작성</h4>
						<!-- Btn header -->
						<div class="col-12 col-sm-2 d-flex align-items-center">
							<!-- Add New Contact Btn -->
							<!-- a의 class=btn을 btn-circle로 하면 원래버튼 -->
							<div class="add-new-contact">
								<a
									href="#"
									class="btn"
									data-toggle="modal"
									data-target="#contactAddModal">
									<img
										th:src="@{/img/svg/plus_white.svg}"
										alt=""
										class="svg" />
									<span>추가</span>
								</a>
							</div>
							<!-- End Add New Contact Btn -->
						</div>
						<!-- Search header -->
						<form class="col-12 col-sm-10 d-flex flex-column align-items-center justify-content-end media-body mt-3 mt-sm-0" >
							<!-- layer 1 -->
							<div class="row"style="width:100%; box-sizing: content-box;" >			
								<!-- Search Form -->								
								<div class="search-form" style="width:100%; box-sizing: content-box;">
									<div class="theme-input-group style--two">
										<input
											id="searchInput"
											type="text"
											class="theme-input-style"
											placeholder="검색" />
										<button id="searchBtn" type="submit">
											<img
												th:src="@{/img/svg/search-icon.svg}"
												alt=""
												class="svg" />
										</button>
									</div>
								</div>
								<!-- End Search Form -->
							</div>
						
							<!-- layer 2 -->
							<!-- Search Condition header -->
							
						<!-- End Search Condition -->
					</div>
					<!-- End Contact Header -->
					
					
					<!-- Sheet -->
					<div class="row bg-white m-0 pt-3">
						<!-- Header Table -->
						<div class="col-10">
							<table class="text-nowrap bg-white">
								<thead>
									<tr>
										<th>
											대여신청시간
										</th>
										<th>
											정비실
										</th>
										<th>
											작업자
										</th>
										<th>
											리더
										</th>
										<th>
											상태
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											2023-11-13-13:46
										</td>
										<td>
											선강정비1실
										</td>
										<td>
											김성빈
										</td>
										<td>
											박철민
										</td>
										<td>
											대기
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- End Header Table-->
						<div class="col-2 d-flex justify-content-center align-items-center">
							<a
								href="#"
								class="btn" style="width:fit-content; height:fit-content;">
								<img
									th:src="@{/img/svg/plus_white.svg}"
									alt=""
									class="svg" />
								<span>대여승인</span>
							</a>
						</div>
					</div>
					<!-- End Sheet -->
					<div class="row">
						
					</div>
				</div>
				<!-- End Card -->
				
			</div>
		</div>
	</div>
</div>
<!-- End Main Content -->
<!-- 사용자 script 추가 -->
<th:block layout:fragment="script">
<script th:inline="javascript">
	
	
	
	
	function post(url,paramData,redirection){
		fetch(url, {
		  method:"POST",
		  headers:{
			  //'header': document.querySelector('meta[name="_csrf"]').content,
              "Content-Type": "application/json",
              //'X-CSRF-Token': document.querySelector('meta[name="_csrf_header"]').content
		  },
		  body: JSON.stringify(paramData),
		})
		  .then(response => {
		    if (!response.ok) {
		      throw new Error(`HTTP error! Status: ${response.status}`);
		    }
		    return response.json();
		  })
		  .then(data => {
			  debugger;
			location.href=redirection;
		  })
		  .catch(error => {
		    console.error('Error:', error);
			Swal.fire({
			  type: "error",
			  title: "Error!",
			  text: error,
			});
			setTimeout(_=>{
			$("#contactAddModal").modal("hide");
			$("#contactEditModal").modal("hide");
			},0);
			return ;
		  });
	}
</script>
</th:block>

</html>