<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_HOME" value="C:/Care4U/log"/>
	<property name="LOG_FILE_NAME" value="care4toolbox"/>
	
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        	<charset>UTF-8</charset>
            <pattern>▶ [%-5level]%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger[%method:%line] - %msg%n</pattern>
        </encoder>
    </appender>
  
	<!-- file로 log 남기기 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOG_FILE_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOG_HOME}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 50MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>10</maxHistory>
		</rollingPolicy>
        <encoder>
        	<charset>UTF-8</charset>
            <pattern>▶[%-5level]%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger[%method:%line] - %msg%n
                <!-- [%method:%line] : 어떤 메소드에 어떤 라인에서 찍혔는지 %msg%n : 찍고 싶은 로그-->
            </pattern>
        </encoder>
    </appender>
    
    <logger name="org.springframework" level="error" />
    <logger name="org.hibernate" level="error" />
    <logger name="com.care4u" level="info" />
    
    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
        
</configuration>