<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>똑똑이</title>
	<!-- Meta Data -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- security csrf -->
	<meta id="_csrf" name="_csrf" content="{{_csrf.token}}" />
	<meta id="_csrf_header" name="_csrf_header" content="{{_csrf.headerName}}" />

	<!-- Favicon -->
	<link rel="shortcut icon" th:href="@{/img/favicon.png}" />

	<!-- Web Fonts -->
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet" />

	<!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->
	<link type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link type="text/css" th:href="@{/fonts/icofont/icofont.min.css}" rel="stylesheet" />
	<link type="text/css" th:href="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.css}" rel="stylesheet" />
	<!-- ======= END BEGIN GLOBAL MANDATORY STYLES ======= -->

	<!-- ======= BEGIN PAGE LEVEL PLUGINS STYLES ======= -->
	<link type="text/css" th:href="@{/plugins/apex/apexcharts.css}" rel="stylesheet" />
	<link type="text/css" th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet" />
	<link type="text/css" th:href="@{/plugins/sweetalert2/sweetalert2.min.css}" rel="stylesheet" />
	<link type="text/css" th:href="@{/plugins/datepicker/datepicker.min.css}" rel="stylesheet" />
	<!-- ======= END BEGIN PAGE LEVEL PLUGINS STYLES ======= -->

	<!-- ======= MAIN STYLES ======= -->
	<link type="text/css" th:href="@{/css/style.css}" rel="stylesheet" />
	<link type="text/css" th:href="@{/css/custom.css}" rel="stylesheet" />
	<!-- ======= END MAIN STYLES ======= -->
</head>

<body>
	<style>
		.content {
			background: linear-gradient(45deg, #94bbe9 20%, #eeaeca 90%);
			background-color: #ccc;
			height: 100vh;
			margin: 0 auto;
			position: relative;
		}

		.error {
			color: #bd2130;
		}
	</style>

	<div class="login_bg" hidden>
		<div class="login_wrap">
			<!-- 타이틀 -->
			<div class="login_tit">
				<h1>Care4U</h1>

			</div>

			<!-- 로그인 인풋 영역 -->
			<form>
				<label th:for="id">
					<input type="text" name="id" id="id" placeholder="아이디" class="login_input" />
				</label>
				<label th:for="password">
					<input type="password" name="password" id="password" placeholder="비밀번호" class="login_input" />
				</label>
				<div class="login_check_wrap">
					<input type="checkbox" id="ch" class="login_check" />
					<label for="ch">자동 로그인</label>
				</div>
				<p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>

				<div class="login_btn_wrap">
					<button class="login_btn">로그인</button>
					<div class="login_find">
						<button type="button" class="find_btn" onclick="location.href='/membership/findId'">아이디
							찾기</button>
						<button type="button" class="find_btn" onclick="location.href='/membership/findPassword'">비밀번호
							찾기</button>
						<button type="button" class="find_btn" onclick="location.href='/membership/new'">회원가입</button>
					</div>
				</div>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

			</form>

		</div>
	</div>


	<div class="mn-vh-100 d-flex align-items-center">
		<div class="container">
			<!-- Card -->
			<div class="card justify-content-center auth-card">
				<div class="row justify-content-center">
					<div class="col-xl-7 col-lg-9">
						<div class="d-flex flex-direction-row align-items-center mb-2">
							<!-- User Avatar -->
							<div class="user-avatar mr-3" style="width:60px; height:60px;">
								<img th:src="@{/img/avatar/user.png}" alt="" />
							</div>
							<!-- End User Avatar -->
							<h1 class="mr-3">똑똑이</h1>
							<h4 class="font-20">통합공기구관리시스템</h4>

							<div class="default-logo" style="width:190px" hidden><img th:src="@{/img/logo.png}" alt="" /></div>
						</div>
						<div class="mb-3"><span>회원 서비스 이용을 위해 로그인 해주세요.</span></div>

						<form role="form" method="post" action="/membership/login">
							<!-- Form Group -->
							<div class="form-group mb-20">
								<label for="code" class="mb-2 font-20 bold black">직원번호</label>
								<input id="code" name="code" class="theme-input-style" placeholder="직원번호를 입력해주세요." />
							</div>
							<!-- End Form Group -->

							<!-- Form Group -->
							<div class="form-group mb-20">
								<label for="password" class="mb-2 font-20 bold black">비밀번호</label>
								<input type="password" name="password" id="password" class="theme-input-style" placeholder="********" />
							</div>
							<!-- End Form Group -->

							<div class="d-flex justify-content-between mb-20">
								<div class="d-flex align-items-center">
									<!-- Custom Checkbox -->
									<label class="custom-checkbox position-relative mr-2">
										<input type="checkbox" id="checkbox" />
										<span class="checkmark"></span>
									</label>
									<!-- End Custom Checkbox -->

									<label for="checkbox" class="font-14">자동로그인</label>
								</div>

								<a href="forget-pass.html" class="font-12 text_color">비밀번호를 잊으셨나요?</a>
							</div>
							<p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
							<span>** 사용자 등록(ID) 신청은 각 부서장에게 문의 하시기 바랍니다.</span>
							<div class="mb-30" hidden>
								
								<a href="#" class="light-btn mr-3 mb-20">Log In With Facebook</a>
								<a href="#" class="light-btn style--two mb-20">Log In With Gmail</a>
							</div>

							<div class="d-flex align-items-center mt-3">
								<button type="submit" class="btn long mr-20">로그인</button>
								<span class="font-12 d-block" hidden>아직 회원이 아니신가요? <a href="register.html"
										class="bold">회원가입</a></span>
							</div>
							
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
						</form>
					</div>
				</div>
			</div>
			<!-- End Card -->
		</div>
	</div>


</body>

</html>