
<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}"
>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
<style>
	.td_btn,
	.th_btn{
		display: flex;
		justify-content: end;
	}
	#datatable th{
		padding:12px 20px;
	}
</style>
</th:block>
<!-- Main Content -->
<div class="main-content" layout:fragment="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<!-- Card -->
				<div class="card bg-transparent">
					<!-- Contact Header -->
					<div class="contact-header d-flex align-items-sm-center flex-row flex-wrap bg-white mb-30" >
						<div class="col-12">
							<!-- 직원 정보 등록 이라는 문구가 들어갈 예정 -->
						</div>
						<!-- Btn header -->
						<div class="col-12 col-sm-2 d-flex align-items-center">
							<!-- Add New Contact Btn -->
							<!-- a의 class=btn을 btn-circle로 하면 원래버튼 -->
							<div class="add-new-contact">
								<a
									href="#"
									class="btn"
									data-toggle="modal"
									data-target="#contactAddModal">
									<img
										th:src="@{/img/svg/plus_white.svg}"
										alt=""
										class="svg" />
									<span>추가</span>
								</a>
							</div>
							<!-- End Add New Contact Btn -->
						</div>
						<!-- Search header -->
						<form
							
							class="col-12 col-sm-10 d-flex flex-column align-items-center justify-content-end media-body mt-3 mt-sm-0"
							th:object="${membershipSearchDto}"
							>
							<!-- layer 1 -->
							<div class="row"style="width:100%; box-sizing: content-box;" >			
								<!-- Search Form -->								
								<div class="search-form" style="width:100%; box-sizing: content-box;">
									<div class="theme-input-group style--two">
										<input
											id="searchInput"
											th:field="*{searchQuery}"
											type="text"
											class="theme-input-style"
											placeholder="검색" />
										<button id="searchBtn" type="submit">
											<img
												th:src="@{/img/svg/search-icon.svg}"
												alt=""
												class="svg" />
										</button>
									</div>
								</div>
								<!-- End Search Form -->
							</div>
						
							<!-- layer 2 -->
							<!-- Search Condition header -->
							<div class="row m-2" style="width:100%; box-sizing: content-box;" hidden>
								<div style="justify-content:end; width:100%;">
								
									<div class="row" style="width:100%; box-sizing: content-box; margin:0px;">
										<!-- part는 생각해보니까 적용하기가 까다로와갖고 일단 hidden -->
										<div class="col-4 col-xl-2" style="padding-left:5px;padding-right:5px;">
											<label for="searchMainPartSelect" class="m-1 black bold d-block">Main Part</label>
											<div class="custom-select style--two" style="max-width:none">
												<select class="theme-input-style" id="searchMainPartSelect">
													<option value="">전체</option>
													<option th:each="mainPartDto : ${mainPartDtoList}"th:value="${mainPartDto.id}" th:text="${mainPartDto.name}">name?</option>
												</select>
											</div>
										</div>
										<div class="col-4 col-xl-2"style="padding-left:5px;padding-right:5px;">
											<label for="searchSubPartSelect" class="m-1 black bold d-block">Sub Part</label>
											<div class="custom-select style--two" style="max-width:none">
												<select class="theme-input-style" id="searchSubPartSelect">
													<option value="">전체</option>
												</select>
											</div>
										</div>
										<div class="col-4 col-xl-2"style="padding-left:5px;padding-right:5px;">
											<label for="searchPartSelect" class="m-1 black bold d-block">Part</label>
											<div class="custom-select style--two" style="max-width:none">
												<select class="theme-input-style" id="searchPartSelect">
													<option value="">전체</option>
												</select>
											</div>
										</div>
										<!--여기까지 part-->
										<div class="col-4 col-xl-2" style="padding-left:5px;padding-right:5px;">
											<label for="searchRoleSelect" class="m-1 black bold d-block">Role</label>
											<div class="custom-select style--two" style="max-width:none">
												<select class="theme-input-style" id="searchRoleSelect">
													<!--<option value="USER">전체</option>-->
													<option th:each="role : ${roles}"th:value="${role}" th:text="${role}" th:field="*{searchRole}">name?</option>
												</select>
											</div>
										</div>
										<div class="col-4 col-xl-2" style="padding-left:5px;padding-right:5px;">
											<label for="searchEmploymentStateSelect" class="m-1 black bold d-block">상태</label>
											<div class="custom-select style--two" style="max-width:none">
												<select class="theme-input-style" id="searchEmploymentStateSelect">
													<!--<option value="EMPLOYMENT">전체</option>-->
													<option th:each="employmentStatus : ${employmentStates}"th:value="${employmentStatus}" th:text="${employmentStatus}" th:field="*{searchEmploymentStatus}">name?</option>
												</select>
											</div>
										</div>
										<div class="col-4 col-xl-2" style="padding-left:5px;padding-right:5px;">
											<label for="searchBy" class="m-1 black bold d-block" id="search">로 검색</label>
											<div class="custom-select style--two" style="max-width:none">
												<select class="theme-input-style" id="searchBy" th:field="*{searchBy}">
													<option value="">전체</option>									
													<option value="name">이름</option>
													<option value="id">아이디</option>
													<option value="code">사원번호</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
						<!-- End Search Condition -->
					</div>
	
					<div class="table-responsive">
						<!-- Invoice List Table -->
						<table id="datatable" class="invoice-list-table text-nowrap bg-white">
							<thead>
								<tr>
									<th>
										Id
									</th>
									<th>
										이름
									</th>
									<th>
										사원번호
									</th>
									<th>
										부서
									</th>
									<th>
										Role
									</th>
									<th>
										상태
									</th>
									<th>
										비밀번호
									</th>
									<th class="th_btn">수정</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
						<!-- End Contact List Table -->
					</div>
					
					
				</div>
				<!-- End Card -->
				
				<!-- Contact Add New PopUp -->
				<div id="contactAddModal" class="modal fade">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<!-- Modal Body -->
							<div class="modal-body">
									<div class="media flex-column flex-sm-row">
										<div class="contact-account-setting media-body">
											<h1 class="mb-4">직원 정보 추가</h1>											
											<div class="form-group mb-4">
												<label class="bold black mb-2" for="addFormName"
													>이름</label>
												<input
													type="text"
													id="addFormName"
													class="theme-input-style"
													placeholder="이름을 입력하세요"
													required />
											</div>
											<div class="form-group mb-4">
												<label for="addFormCode" class="mb-2 black bold"
													>사원번호</label
												>
												<input
													type="number"
													class="theme-input-style"
													id="addFormCode"
													placeholder="사원번호를 입력하세요" 
													required />
											</div>
											<div class="mb-4">
												<label class="bold black mb-2" for="addFormPassword"
													>비밀번호</label
												>
												<input
													type="text"
													id="addFormPassword"
													class="theme-input-style"
													placeholder="비밀번호를 입력하세요"
													required />
											</div>
											<input
												type="text"
												id="addFormRole"
												class="theme-input-style"
												placeholder="직급을 입력하세요"
												value="USER"
												required
												hidden />
											<div class="form-group mb-4">
												<div class="row">
													<div class="col-4">
														<label for="addFormMainPartSelect" class="mb-2 black bold d-block">Main Part</label>
														<div class="custom-select style--two">
															<select class="theme-input-style" id="addFormMainPartSelect">
																<option th:each="mainPartDto : ${mainPartDtoList}"th:value="${mainPartDto.id}" th:text="${mainPartDto.name}">name?</option>
															</select>
														</div>
													</div>
													<div class="col-4">
														<label for="addFormSubPartSelect" class="mb-2 black bold d-block">Sub Part</label>
														<div class="custom-select style--two">
															<select class="theme-input-style" id="addFormSubPartSelect">
																
															</select>
														</div>
													</div>
													<div class="col-4">
														<label for="addFormPartSelect" class="mb-2 black bold d-block">Part</label>
														<div class="custom-select style--two">
															<select class="theme-input-style" id="addFormPartSelect">
																
															</select>
														</div>
													</div>
												</div>
											</div>
											<div id="addFormRadios" class="form-group mb-4">
												<label for="addFormRadios"class="mb-3 font-14 bold">재직 상태</label>
												
												<div class="row">
												<div class="col-3 d-flex align-items-center">
													<!-- Custom Radio -->
													<div class="custom-radio mr-3">
														<input type="radio" id="addFormRadio0" name="addFormRadio" checked="" value="EMPLOYMENT">
														<label for="addFormRadio0"></label>
													</div>
													<!-- End Custom Radio -->
	
													<label for="addFormRadio0">재직</label>
												</div>
	
												<div class="col-3 d-flex align-items-center">
													<!-- Custom Radio -->
													<div class="custom-radio mr-3">
														<input type="radio" id="addFormRadio1" name="addFormRadio" value="LEAVE_OF_ABSENCE">
														<label for="addFormRadio1"></label>
													</div>
													<!-- End Custom Radio -->
	
													<label for="addFormRadio1">휴직</label>
												</div>
	
												<div class="col-3 d-flex align-items-center">
													<!-- Custom Radio -->
													<div class="custom-radio mr-3">
														<input type="radio" id="addFormRadio2" name="addFormRadio" value="RESIGNATION">
														<label for="addFormRadio2"></label>
													</div>
													<!-- End Custom Radio -->
	
													<label for="addFormRadio2" class="c4">퇴사</label>
												</div>
												</div>
											</div>
											<div class="mb-4">
												<button id="addFormBtn" class="btn mr-4" type="button">저장</button>
												<a
													href="#"
													class="cancel font-14 bold"
													data-dismiss="modal"
													>취소</a>
											</div>
										</div>
									</div>
							</div>
							<!-- End Modal Body -->
						</div>
					</div>
				</div>
				<!-- End Contact Add New PopUp -->

				<!-- Contact Edit PopUp -->
				<div id="contactEditModal" class="modal fade">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<!-- Modal Body -->
							<div class="modal-body">
									<div class="media flex-column flex-sm-row">
										<div class="contact-account-setting media-body">
											<h1 class="mb-4">직원 정보 수정</h1>											
											<div class="form-group mb-4">
												<label class="bold black mb-2" for="editFormName"
													>이름</label>
												<input
													type="text"
													id="editFormName"
													class="theme-input-style"
													placeholder="이름을 입력하세요"
													required />
											</div>
											<div class="form-group mb-4">
												<label for="editFormCode" class="mb-2 black bold"
													>사원번호</label
												>
												<input
													type="number"
													class="theme-input-style"
													id="editFormCode"
													placeholder="사원번호를 입력하세요" 
													disabled />
											</div>
											<div class="mb-4">
												<label class="bold black mb-2" for="editFormPassword"
													>비밀번호</label
												>
												<input
													type="text"
													id="editFormPassword"
													class="theme-input-style"
													placeholder="비밀번호를 입력하세요"
													required />
											</div>
											<input
												type="text"
												id="editFormRole"
												class="theme-input-style"
												placeholder="직급을 입력하세요"
												required
												hidden />
											<div class="form-group mb-4">
												<div class="row">
													<div class="col-4">
														<label for="editFormMainPartSelect" class="mb-2 black bold d-block">Main Part</label>
														<div class="custom-select style--two">
															<select class="theme-input-style" id="editFormMainPartSelect">
																<option th:each="mainPartDto : ${mainPartDtoList}"th:value="${mainPartDto.id}" th:text="${mainPartDto.name}">name?</option>
															</select>
														</div>
													</div>
													<div class="col-4">
														<label for="editFormSubPartSelect" class="mb-2 black bold d-block">Sub Part</label>
														<div class="custom-select style--two">
															<select class="theme-input-style" id="editFormSubPartSelect">
																
															</select>
														</div>
													</div>
													<div class="col-4">
														<label for="editFormPartSelect" class="mb-2 black bold d-block">Part</label>
														<div class="custom-select style--two">
															<select class="theme-input-style" id="editFormPartSelect">
																
															</select>
														</div>
													</div>
												</div>
											</div>
											<div id="editFormRadios" class="form-group mb-4">
												<label for="editFormRadios"class="mb-3 font-14 bold">재직 상태</label>
												
												<div class="row">
												<div class="col-3 d-flex align-items-center">
													<!-- Custom Radio -->
													<div class="custom-radio mr-3">
														<input type="radio" id="editFormRadio0" name="editFormRadio" checked="" value="EMPLOYMENT">
														<label for="editFormRadio0"></label>
													</div>
													<!-- End Custom Radio -->
	
													<label for="editFormRadio0">재직</label>
												</div>
	
												<div class="col-3 d-flex align-items-center">
													<!-- Custom Radio -->
													<div class="custom-radio mr-3">
														<input type="radio" id="editFormRadio1" name="editFormRadio" value="LEAVE_OF_ABSENCE">
														<label for="editFormRadio1"></label>
													</div>
													<!-- End Custom Radio -->
	
													<label for="editFormRadio1">휴직</label>
												</div>
	
												<div class="col-3 d-flex align-items-center">
													<!-- Custom Radio -->
													<div class="custom-radio mr-3">
														<input type="radio" id="editFormRadio2" name="editFormRadio" value="RESIGNATION">
														<label for="editFormRadio2"></label>
													</div>
													<!-- End Custom Radio -->
	
													<label for="editFormRadio2" class="c4">퇴사</label>
												</div>
												</div>
											</div>
											<div class="mb-4">
												<button id="editFormBtn" class="btn mr-4" type="button">저장</button>
												<a
													href="#"
													class="cancel font-14 bold"
													data-dismiss="modal"
													>취소</a>
											</div>
										</div>
									</div>
							</div>
							<!-- End Modal Body -->
						</div>
					</div>
				</div>
				<!-- End Contact Edit PopUp -->
				
			</div>
		</div>
	</div>
</div>
<!-- End Main Content -->
<!-- 사용자 script 추가 -->
<th:block layout:fragment="script">
<script th:inline="javascript">
	
	$(document).ready(function(){
		
		//231025 검색 기능
       /*
        $("#searchBtn").on("click",function(e) {
            e.preventDefault();
            page(0);
        });
        */
            
            
		var table = $('#datatable').DataTable({
			"paging": true,          // 페이지네이션 사용
			"pageLength": 10, 		// 페이지당 항목 수
			"lengthChange": false,   // 페이지 크기 변경 기능 비활성화
			"searching": false,       // 검색 기능 사용
			"ordering": false,        // 정렬 기능 사용
			"order":[
				[0,'asc']
			],
			"info": true,            // 정보 표시
			"autoWidth": false,      // 너비 자동 조정 비활성화
			"serverSide": true,
			"processing": true,
			"ajax": {
				"url": "/membership/getpage", // 데이터를 가져올 엔드포인트 URL
				//"dataSrc": "content",   // JSON 응답에서 실제 데이터가 포함된 위치
				"data": function (d) {
					var data = {
			           "page": parseInt(d.start / d.length),
			           "size": d.length,
			           "name": $("#searchInput").val()
			           //"order": columnsDefine[d.order[0].column].column,
			           //"search": 'tagid',
			           //"direction": d.order[0].dir.toUpperCase(),
			           //"keyword": d.search.value
			        };
			        return data;
				},
				"dataFilter": function (data) {
					data.dataSrc="content";
					data = JSON.parse(data);
					var json = {
						recordsTotal: data.totalElements,
						recordsFiltered: data.totalElements,
						data: data.content
					};
					return JSON.stringify(json)
			    }
			},
			"columnDefs":[
				{
					"targets":[0],
					"visible":false
				},
				{
					"targets":[0,3,4,5,6,7],
					"orderable":false
				},
				{
					"targets":[7],
					"className":"td_btn"
				}
			],
			"columns": [
				/*{
					"data": null,
					"render": function() {
					    // 제품 정보 표시
					    return '<label class="custom-checkbox">'+
								'<input type="checkbox" />'+
								'<span class="checkmark"></span>'+
								'</label>'+
								'<div class="star">'+
								'<a href="#"'+
								'<img'+
								'src="/img/svg/star.svg"'+
								'alt=""'+
								'class="svg"'+
								'/></a>'+
								'</div>'
					}
                },*/
				{
					"data": "id",
					"type": Number
				},
				{"data": "name"},
				{"data": "code"},
				{
					"data": "partDto",
					"render":function(data,type,row){
						if(type==="display"){
							return data.subPartDto.mainPartDto.name + "/"
							+ data.subPartDto.name + "/" + data.name;
						}
						return data;
					}
				},
				{
					"data": "role",
					"type": String,
					"render":function(data,type,row){
						if(type==="display"){
							return {
								"USER":"작업자",
								"MANAGER":"매니저",
								"ADMIN":"관리자",
								default:"NULL"
							}[data];
						}
					}
				},
				{
					"data": "employmentStatus",
					"type": String,
					"render":function(data,type,row){
						if(type==="display"){
							return {
								"EMPLOYMENT":"재직",
								"LEAVE_OF_ABSENCE":"휴직",
								"RESIGNATION":"퇴사",
								default:"NULL"
							}[data];
						}
					}
				},
				{"data": "password"},
				{
					"data": null,
					"render": function(data, type, full, meta) {
						// 상태 뱃지 표시
						return '<span class="contact-edit" data-toggle="modal" data-target="#contactEditModal" style="cursor:pointer;">' +
								'<img src="/img/svg/c-edit.svg" alt="" class="svg" />' +
								'</span>';
					}
				}
			]
		});
		table.on('click', '.contact-edit', function() {
	        var data = table.row($(this).parents('tr')).data();
			document.getElementById('editFormName').value = data.name;
            document.getElementById('editFormCode').value = data.code;
            document.getElementById('editFormPassword').value = data.password;
            document.getElementById('editFormRole').value = data.role;
			document.getElementById('editFormMainPartSelect').value = data.partDto.subPartDto.mainPartDto.id;
			loadSubParts.apply(document.getElementById('editFormSubPartSelect'),[data.partDto.subPartDto.mainPartDto.id])
			.then(resolved=>
            	document.getElementById('editFormSubPartSelect').value = data.partDto.subPartDto.id
            );
            loadParts.apply(document.getElementById('editFormPartSelect'),[data.partDto.subPartDto.id])
            .then(resolved=>
            	document.getElementById('editFormPartSelect').value = data.partDto.id
            );
            document.getElementsByName("editFormRadio").forEach(e=>{
				e.checked=false;
			});
            switch(data.employmentStatus){
				case "EMPLOYMENT":
					document.getElementById("editFormRadio0").checked=true;
				break;
				case "LEAVE_OF_ABSENCE":
					document.getElementById("editFormRadio1").checked=true;
				break;
				case "RESIGNATION":
					document.getElementById("editFormRadio2").checked=true;
				break;
				default:
			}
	    });
	    $("#searchBtn").on("click",e=>{
			e.preventDefault();
			table.draw();
		});
	});
    $("#addFormBtn").click(e=>{
		e.preventDefault();
		submitFormBtn('add');
	});
	$("#editFormBtn").click(e=>{
		e.preventDefault();
		submitFormBtn('edit');
	});
	function submitFormBtn(mode){
		if (mode==='add' || mode==='edit'){
			abcHttp.post(
			    `membership/${mode==='add'?'new':mode}`,
			    {
			        name: document.getElementById(`${mode}FormName`).value,
			        code: document.getElementById(`${mode}FormCode`).value,
			        password: document.getElementById(`${mode}FormPassword`).value,
			        partDtoId: parseInt(document.getElementById(`${mode}FormPartSelect`).value),
			        employmentStatus: function () {
			            const radios = document.getElementsByName(`${mode}FormRadio`);
			            for (let i = 0; i < radios.length; i++) {
			                if (radios[i].checked) {
			                    return radios[i].value;
			                }
			            }
			        }(),
			        role: document.getElementById(`${mode}FormRole`).value,
			    }
			)
			.then(response=>{
				Swal.fire({
					type:"success",
					title:"저장됨",
					text:"정상적으로 저장되었습니다.",
				})
				.then(result=>{
					location.href='membership';
				});
				setTimeout(() => {
					$("#contactAddModal").modal("hide");
					$("#contactEditModal").modal("hide");
				}, 0);
			});
		}else{
			console.log("choose add or edit. you've selected " + mode);
		}
	}
	
	
	[
		[
			document.getElementById("addFormMainPartSelect"),
			document.getElementById("addFormSubPartSelect"),
			document.getElementById("addFormPartSelect")
		],
		[
			document.getElementById("editFormMainPartSelect"),
			document.getElementById("editFormSubPartSelect"),
			document.getElementById("editFormPartSelect")
		],
		[
			document.getElementById("searchMainPartSelect"),
			document.getElementById("searchSubPartSelect"),
			document.getElementById("searchPartSelect")
		],
	].forEach(v=>{
		//new&add form-partevent : <select>
		v[0].addEventListener("change",e=>{
			v[2].options.length=0;
			v[1].options.length=0;
			loadSubParts.apply(v[1],[parseInt(e.target.value)]);
		});
		v[1].addEventListener("change",e=>{
			v[2].options.length=0;
			loadParts.apply(v[2],[parseInt(e.target.value)]);
		});
	});
	
	
	//231025 검색과 함께 페이징 
	// for querydsl 
	/*
    function page(page){
        var searchPartDto = $("#searchPartSelect").val();
        var searchRole = $("#searchRoleSelect").val();
        var searchEmploymentState = $("#searchEmploymentStateSelect").val();
        var searchBy = $("#searchBy").val();
        var searchQuery = $("#searchQuery").val();

        location.href="/setting/membership_setting2/" + page
        // + "?searchRole=" + searchRole
        // + "&searchEmploymentState=" + searchEmploymentState
        + "?searchBy=" + searchBy
        + "&searchQuery=" + searchQuery;
    }
	*/
	
	//fetch subparts & parts
    function loadSubParts(mainPartId) {
		return new Promise((resolved, rejected)=>{
        	abcHttp.get(
				'sub_part/get',
        	{
				mainPartId:mainPartId
			})
			.then(data=>{
				var subPartList = '';
                data.forEach(function (subPart) {
                    subPartList += '<option value="' + subPart.id + '">' + subPart.name + '</option>';
                });
                this.innerHTML = subPartList;
                resolved();
			})
			.catch(error=>{
				rejected();	
			})
        });
    }
    function loadParts(subPartId){
		return new Promise((resolved, rejected)=>{
            abcHttp.get(
				'part/get',
            {
				subPartId:subPartId
			})
			.then(data=>{
				var partList = '';
                data.forEach(function (part) {
                    partList += '<option value="' + part.id + '">' + part.name + '</option>';
                });
                this.innerHTML = partList;
                resolved();
			})
            .catch(error => {
                rejected();
            });
        });
	}
</script>
</th:block>

</html>