<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}"
>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- Main Content -->
<div class="main-content" layout:fragment="content">
	<h2>Group List</h2>
	<th:block th:each="mainPartDto : ${mainPartDtoList}">
		
	</th:block>
	
	<th:block th:each="subPartDto : ${subPartDtoList}">
		
	</th:block>
	
	
	
</div>
<!-- End Main Content -->

<!-- 사용자 script 추가 -->
<th:block layout:fragment="script">
</th:block>

</html>