<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}"
>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
<style>
.selected {
    background-color: #f0f0f0; /* 선택한 행의 배경색을 원하는 색상으로 변경 */
}

.hidden-column {
    display: none;
}

</style>
</th:block>
<!-- Main Content -->
<div class="main-content" layout:fragment="content">
	<div class="container-fluid">
		<div class="card">
			<div class="pt-40 px-3 px-sm-4 px-md-5 pb-3">

				<div class="row justify-content-center pt-2">
					<div class="col-xl-11">
						<div class="row justify-content-center">
							<div class="col-xl-4 col-md-6">
								<!-- Price Box -->
								<div class="price-box mb-30">
									<!-- Price Header -->
									<div class="price-header d-flex flex-wrap bg-primary">
										<div class="p_header-img">
											<img
												th:src="@{/img/svg/p_img1.svg}"
												alt="" />
										</div>
										<div class="p_header-content">
											<h1>대분류</h1>
										</div>
									</div>
									<!-- End Price Header -->

									<!-- End Price Body -->
									<!-- Aside Body -->
									<div class="aside-body" data-trigger="scrollbar">
										<div class="table-responsive">
											<!-- Invoice List Table -->
											<table class="contact-list-table text-nowrap bg-white"id="myTable">
												<thead>
													<tr>
														<th class="hidden-column"> 
															id
														</th>
														<th class="text-center">
															Name
															<img
																th:src="@{/img/svg/table-down-arrow.svg}"
																alt=""
																class="svg" />
														</th>
														<th>Actions</th>
													</tr>
												</thead>
												<tbody>
													<th:block th:each="mainGroupDto : ${mainGroupList}">
													<tr class="table-row">
														<td  class="hidden-column" id="id" th:text="${mainGroupDto.id}"></td>
														<td>
															<div class="d-flex align-items-center">
																<div class="img mr-20">
																	<img
																		th:src="@{/img/avatar/m16.png}"
																		class="img-40"
																		alt="" />
																</div>
																<div class="name bold" th:text="${mainGroupDto.name}">Arden Spencer</div>
															</div>
														</td>
														<td class="actions">
															<span
																class="contact-edit"
																data-toggle="modal"
																data-target="#contactEditModal">
																<img
																	th:src="@{/img/svg/c-edit.svg}"
																	alt=""
																	class="svg" />
															</span>
															<span class="contact-close">
																<img
																	th:src="@{/img/svg/c-close.svg}"
																	alt=""
																	class="svg" />
															</span>
														</td>
													</tr>		
													</th:block>
												</tbody>
											</table>
										</div>
										<!-- End Invoice List Table -->
										
					</div>
					<!-- End Aside Body -->
									<!-- End Price Body -->
								</div>
								<!-- End Price Box -->
							</div>

							<div class="col-xl-4 col-md-6">
								<!-- Price Box -->
								<div class="price-box active mb-30">
									<!-- Price Header -->
									<div class="price-header d-flex flex-wrap">
										<div class="p_header-img">
											<img
												th:src="@{/img/svg/p_img2.svg}"
												alt="" />
										</div>
										<div class="p_header-content">
											<h1>중분류</h1>
										</div>
									</div>
									<!-- End Price Header -->

									<!-- End Price Body -->
									<!-- Aside Body -->
									<div class="aside-body" data-trigger="scrollbar">
										<div class="table-responsive">
											<!-- Invoice List Table -->
											<table class="contact-list-table text-nowrap bg-white"id="myTable">
												<thead>
													<tr>
														<th class="hidden-column"> 
															id
														</th>
														<th class="text-center">
															Name
															<img
																th:src="@{/img/svg/table-down-arrow.svg}"
																alt=""
																class="svg" />
														</th>
														<th>Actions</th>
													</tr>
												</thead>
												<tbody>
													<th:block th:each="mainGroupDto : ${mainGroupList}">
													<tr class="table-row">
														<td  class="hidden-column" id="id" th:text="${mainGroupDto.id}"></td>
														<td>
															<div class="d-flex align-items-center">
																<div class="img mr-20">
																	<img
																		th:src="@{/img/avatar/m16.png}"
																		class="img-40"
																		alt="" />
																</div>
																<div class="name bold" th:text="${mainGroupDto.name}">Arden Spencer</div>
															</div>
														</td>
														<td class="actions">
															<span
																class="contact-edit"
																data-toggle="modal"
																data-target="#contactEditModal">
																<img
																	th:src="@{/img/svg/c-edit.svg}"
																	alt=""
																	class="svg" />
															</span>
															<span class="contact-close">
																<img
																	th:src="@{/img/svg/c-close.svg}"
																	alt=""
																	class="svg" />
															</span>
														</td>
													</tr>		
													</th:block>
												</tbody>
											</table>
										</div>
										<!-- End Invoice List Table -->
						
					</div>
					<!-- End Aside Body -->
									<!-- End Price Body -->
								</div>
								<!-- End Price Box -->
							</div>

							<div class="col-xl-4 col-md-6">
								<!-- Price Box -->
								<div class="price-box mb-30">
									<!-- Price Header -->
									<div class="price-header d-flex flex-wrap enterprise">
										<div class="p_header-img">
											<img
												th:src="@{/img/svg/p_img3.svg}"
												alt="" />
										</div>
										<div class="p_header-content">
											<h1>소분류</h1>
										</div>
									</div>
									<!-- End Price Header -->

									<!-- End Price Body -->
									<!-- Aside Body -->
									<div class="aside-body" data-trigger="scrollbar">
										<div class="table-responsive">
											<!-- Invoice List Table -->
											<table class="contact-list-table text-nowrap bg-white"id="myTable">
												<thead>
													<tr>
														<th class="hidden-column"> 
															id
														</th>
														<th class="text-center">
															Name
															<img
																th:src="@{/img/svg/table-down-arrow.svg}"
																alt=""
																class="svg" />
														</th>
														<th>Actions</th>
													</tr>
												</thead>
												<tbody>
													<th:block th:each="mainGroupDto : ${mainGroupList}">
													<tr class="table-row">
														<td  class="hidden-column" id="id" th:text="${mainGroupDto.id}"></td>
														<td>
															<div class="d-flex align-items-center">
																<div class="img mr-20">
																	<img
																		th:src="@{/img/avatar/m16.png}"
																		class="img-40"
																		alt="" />
																</div>
																<div class="name bold" th:text="${mainGroupDto.name}">Arden Spencer</div>
															</div>
														</td>
														<td class="actions">
															<span
																class="contact-edit"
																data-toggle="modal"
																data-target="#contactEditModal">
																<img
																	th:src="@{/img/svg/c-edit.svg}"
																	alt=""
																	class="svg" />
															</span>
															<span class="contact-close">
																<img
																	th:src="@{/img/svg/c-close.svg}"
																	alt=""
																	class="svg" />
															</span>
														</td>
													</tr>		
													</th:block>
												</tbody>
											</table>
										</div>
										<!-- End Invoice List Table -->
						
					</div>
					<!-- End Aside Body -->
									<!-- End Price Body -->
								</div>
								<!-- End Price Box -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	<!-- Contact Edit PopUp -->
	<div id="contactEditModal" class="modal fade">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<!-- Modal Body -->
				<div class="modal-body">
					<form action="#">
						<div class="media flex-column flex-sm-row">
							<div
								class="modal-upload-avatar mr-0 mr-sm-3 mr-md-5 mb-5 mb-sm-0">
								<div class="attach-file style--two mb-3">
									<img
										th:src="@{/img/product/pg2.png}"
										class="profile-avatar"
										alt="" />
									<div class="upload-button">
										<img
											th:src="@{/img/svg/gallery.svg}"
											alt=""
											class="svg mr-2" />
										<span>Upload Photo</span>
										<input
											class="file-input"
											type="file"
											id="fileUpload2"
											accept="image/*" />
									</div>
								</div>

								<div class="content">
									<h4 class="mb-2">Upload a Photo</h4>
									<p class="font-12 c4">
										Allowed JPG, GIF or PNG. Max size <br />
										of 800kB
									</p>
								</div>
							</div>

							<div class="contact-account-setting media-body">
								<h4 class="mb-4">Account Settings</h4>

								<div class="mb-4">
									<label class="bold black mb-2" for="as_name2"
										>Name</label
									>
									<input
										type="text"
										id="as_name2"
										class="theme-input-style"
										value="Arden Spencer"
										required />
								</div>

								

								<div class="">
									<a href="#" class="btn mr-4">Save Changes</a>
									<a
										href="#"
										class="cancel font-14 bold"
										data-dismiss="modal"
										>Cancel</a
									>
								</div>
							</div>
						</div>
					</form>
				</div>
				<!-- End Modal Body -->
			</div>
		</div>
	</div>
	<!-- End Contact Edit PopUp -->

</div>
<!-- End Main Content -->
<!-- 사용자 script 추가 -->
<th:block layout:fragment="script">
<script th:inline="javascript">
  // 테이블 요소 가져오기
  var table = document.getElementById("myTable");
  
  // 모든 행에 클릭 이벤트 리스너 추가
  var rows = table.getElementsByTagName("tr");
  for (var i = 0; i < rows.length; i++) {
    rows[i].addEventListener("click", function() {
      // 클릭된 행의 배경색 변경
      this.style.backgroundColor = "lightblue";
      
      // 다른 행들의 배경색 초기화
      for (var j = 0; j < rows.length; j++) {
        if (rows[j] !== this) {
          rows[j].style.backgroundColor = "";
        }
      }
    });
  }
</script>
</th:block>

</html>