<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}"
>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
<style>
</style>
</th:block>

<!-- Main Content -->
<div class="main-content" layout:fragment="content">
	<div class="container-fluid">
		<input id="in">
		<button id="btn" >asdf</button>
	</div>
</div>
<!-- End Main Content -->
<!-- 사용자 script 추가 -->
<th:block layout:fragment="script">
<script th:inline="javascript">
document.getElementById("btn").addEventListener("click",function(){
	const mainData = JSON.parse(document.getElementById("in").value);

				post(
					"/rental/request_sheet/apply",
					{
						workName:mainData.workName,
						workerDtoId:mainData.workerDtoId,
						leaderDtoId:mainData.leaderDtoId,
						toolboxDtoId:mainData.toolboxDtoId,
						toolList:mainData.toolList
					}
				)
				.then(data=>{
					Swal.fire({
					  type: "success",
					  title: "대여 신청 완료",
					  text: "공기구 대여 목록을 정상적으로 신청하였습니다",
					});
				})
				.then(result2=>{
					if(result2){
						location.href='/rental/request_sheet'
					}
				})
				.catch(error=>{
					Swal.fire({
						type: "error",
						title: "대여 신청 실패",
						text: error,
					})
				})


})



function post(url, paramData, redirection) {
	    return new Promise((resolve, reject) => {
	        fetch(url, {
	            method: "POST",
	            headers: {
	                "Content-Type": "application/json",
	            },
	            body: JSON.stringify(paramData),
	        })
	        .then(response => {
	            if (!response.ok) {
	                throw new Error(`HTTP error! Status: ${response.status}`);
	            }
	            return response.json();
	        })
	        .then(data => {
	            if (redirection != null) {
	                location.href = redirection;
	            } else {
	            	resolve(data);
	            }
	        })
	        .catch(error => {
	            console.error('Error:', error);
	            Swal.fire({
	                type: "error",
	                title: "Error!",
	                text: error,
	            });
	            setTimeout(() => {
	                $("#contactAddModal").modal("hide");
	                $("#contactEditModal").modal("hide");
	            }, 0);
	            reject(error);
	        });
	    });
	}

</script>
</th:block>
</html>