<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}"
>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
<style>
</style>
</th:block>

<!-- Main Content -->
<div class="main-content" layout:fragment="content">
	<div class="container-fluid">
		<input id="in">
		<button id="btn" >asdf</button>
	</div>
</div>
<!-- End Main Content -->
<!-- 사용자 script 추가 -->
<th:block layout:fragment="script">
<script  th:inline="javascript">
document.getElementById("btn").addEventListener("click",function(){
	//const mainData = JSON.parse(document.getElementById("in").value);
		myHttp.post(
			`/rental/request_sheet/getpage?page=0&size=10&toolboxId=${5222}`
		)
				.then(data=>{
					console.log(data);
				})
				.catch(error=>{
					Swal.fire({
						type: "error",
						title: "대여 신청 실패",
						text: error,
					})
				})
})


var socket = new SockJS('/care4u_websocket');
var stompClient = Stomp.over(socket);

stompClient.connect({}, function(frame) {
    console.log('웹 소켓에 연결되었습니다.');

    // 서버로 메시지 전송 예시
    //stompClient.send("/care4u/send-message", {}, "안녕하세요!");
    
	stompClient.subscribe('/topic/greetings', function(response) {
	    console.log('서버에서 받은 메시지:', response.body);
	    // TODO: 서버에서 받은 메시지를 처리하는 로직 추가
	});
});




</script>
</th:block>
</html>