<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}"
>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
<style>
.selected {
    background-color: #f0f0f0; /* 선택한 행의 배경색을 원하는 색상으로 변경 */
}

.hidden-column {
    display: none;
}

</style>
</th:block>
<!-- Main Content -->
<div class="main-content" layout:fragment="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<!-- Card -->
				<div class="card bg-transparent">
					<!-- Contact Header -->
					<div
						class="contact-header d-flex align-items-sm-center media flex-column flex-sm-row bg-white mb-30">
						<div
							class="contact-header-left media-body d-flex align-items-center mr-4">
							<!-- Add New Contact Btn -->
							<div class="add-new-contact mr-20">
								<a
									href="#"
									class="btn-circle"
									data-toggle="modal"
									data-target="#contactAddModal">
									<img
										th:src="@{/img/svg/plus_white.svg}"
										alt=""
										class="svg" />
								</a>
							</div>
							<!-- End Add New Contact Btn -->
	
							<div
								class="invoice-header-right d-flex align-items-center justify-content-end media-body mt-3 mt-sm-0">
								
								<!-- Search Form -->
								<form action="#" class="search-form flex-grow">
									<div class="theme-input-group style--two">
										<input
											type="text"
											class="theme-input-style"
											placeholder="Search Here" />

										<button type="submit">
											<img
												th:src="@{/img/svg/search-icon.svg}"
												alt=""
												class="svg" />
										</button>
									</div>
								</form>
								<!-- End Search Form -->
	
								<!-- Pagination -->
								<div
									class="pagination style--two d-flex flex-column align-items-center ml-3">
									<ul
										class="list-inline d-inline-flex align-items-center">
										<li>
											<a href="#">
												<img
													th:src="@{/img/svg/left-angle.svg}"
													alt=""
													class="svg" />
											</a>
										</li>
										<li>
											<a href="#" class="current">
												<img
													th:src="@{/img/svg/right-angle.svg}"
													alt=""
													class="svg" />
											</a>
										</li>
									</ul>
								</div>
								<!-- End Pagination -->
							</div>
						</div>
						<!-- End Invoice Header -->
					</div>
	
					<div class="table-responsive">
						<!-- Invoice List Table -->
						<table class="invoice-list-table text-nowrap bg-white">
							<thead>
								<tr>
									<th>
										<!-- Custom Checkbox -->
										<label class="custom-checkbox">
											<input type="checkbox" />
											<span class="checkmark"></span>
										</label>
										<!-- End Custom Checkbox -->
	
										<!-- Star -->
										<div class="star">
											<a href="#"
												><img
													th:src="@{/img/svg/star.svg}"
													alt=""
													class="svg"
											/></a>
										</div>
										<!-- End Star -->
									</th>
									<th>
										Id
										<img
											th:src="@{/img/svg/table-down-arrow.svg}"
											alt=""
											class="svg" />
									</th>
									<th>
										이름
										<img
											th:src="@{/img/svg/table-down-arrow.svg}"
											alt=""
											class="svg" />
									</th>
									<th>
										사원번호
										<img
											th:src="@{/img/svg/table-up-arrow.svg}"
											alt=""
											class="svg" />
									</th>
									<th>
										부서
										<img
											th:src="@{/img/svg/table-up-arrow.svg}"
											alt=""
											class="svg" />
									</th>
									<th>
										Role
										<img
											th:src="@{/img/svg/table-up-arrow.svg}"
											alt=""
											class="svg" />
									</th>
									<th>
										상태
										<img
											th:src="@{/img/svg/table-up-arrow.svg}"
											alt=""
											class="svg" />
									</th>
									<th>
										비밀번호
									</th>
									<th>수정</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="membershipDto, status : ${membershipDtoList}">
									<td>
										<!-- Custom Checkbox -->
										<label class="custom-checkbox">
											<input type="checkbox" />
											<span class="checkmark"></span>
										</label>
										<!-- End Custom Checkbox -->
	
										<!-- Star -->
										<div class="star">
											<a href="#"
												><img
													th:src="@{/img/svg/star.svg}"
													alt=""
													class="svg"
											/></a>
										</div>
										<!-- End Star -->
									</td>
									<td th:text="${membershipDto.id}"></td>
									<td th:text="${membershipDto.name}"></td>
									<td th:text="${membershipDto.code}"></td>
									<td th:text="${membershipDto.partDto.name}"></td>
									<td th:text="${membershipDto.role}"></td>
									<td th:text="${membershipDto.employmentStatus}"></td>
									<td th:text="${membershipDto.password}"></td>
									<td class="actions">
										<span
											class="contact-edit"
											data-toggle="modal"
											data-target="#contactEditModal"
											style="cursor:pointer;">
											<img
												th:src="@{/img/svg/c-edit.svg}"
												alt=""
												class="svg" />
										</span>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- End Contact List Table -->
					</div>
				</div>
				<!-- End Card -->
				
				<!-- Contact Add New PopUp -->
				<div id="contactAddModal" class="modal fade">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<!-- Modal Body -->
							<div class="modal-body">
								<form th:action="@{/setting/membership_setting/new}" role="form" method="post" th:object="${memberFormDto}">
									<div class="media flex-column flex-sm-row">
										<div class="contact-account-setting media-body">
											<h1 class="mb-4">직원 정보 추가</h1>											
											<div class="mb-4">
												<label class="bold black mb-2" for="as_name"
													>이름</label
												>
												<input
													type="text"
													th:field="*{name}"
													id="as_name"
													class="theme-input-style"
													placeholder="이름을 입력하세요"
													required />
											</div>
											<div class="form-group mb-4">
												<label for="numberInput1" class="mb-2 black bold"
													>사원번호</label
												>
												<input
													type="number"
													class="theme-input-style"
													id="code"
													th:field="*{code}"
													placeholder="사원번호를 입력하세요" 
													required />
											</div>
											<div class="mb-4">
												<label class="bold black mb-2" for="as_pw"
													>비밀번호</label
												>
												<input
													type="text"
													th:field="*{password}"
													id="as_pw"
													class="theme-input-style"
													placeholder="이름을 입력하세요"
													required />
											</div>
											<input type="hidden" th:field="*{id}" />
											<input type="hidden" th:field="*{role}" />
											<div class="form-group mb-4">
												<div class="row">
													<div class="col-4">
														<label for="mainPartSelect" class="mb-2 black bold d-block">Main Part</label>
														<div class="custom-select style--two">
															<select class="theme-input-style" id="mainPartSelect">
																<option th:each="mainPartDto : ${mainPartDtoList}"th:value="${mainPartDto.id}" th:text="${mainPartDto.name}">name?</option>
															</select>
														</div>
													</div>
													<div class="col-4">
														<label for="subPartSelect" class="mb-2 black bold d-block">Sub Part</label>
														<div class="custom-select style--two">
															<select class="theme-input-style" id="subPartSelect">
																
															</select>
														</div>
													</div>
													<div class="col-4">
														<label for="partSelect" class="mb-2 black bold d-block">Part</label>
														<div class="custom-select style--two">
															<select class="theme-input-style" id="partSelect" th:field="*{partDto.id}" required>
																
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group mb-4">
												<label class="mb-3 font-14 bold">재직 상태</label>
												<div class="d-flex align-items-center mb-3">
													<!-- Custom Radio -->
													<div class="custom-radio mr-3">
														<input type="radio" id="radio9" name="radio-group" checked=""
															th:field="*{employmentStatus}" value="EMPLOYMENT">
														<label for="radio9"></label>
													</div>
													<!-- End Custom Radio -->
	
													<label for="radio9">재직</label>
												</div>
	
												<div class="d-flex align-items-center mb-3">
													<!-- Custom Radio -->
													<div class="custom-radio mr-3">
														<input type="radio" id="radio8" name="radio-group"
															th:field="*{employmentStatus}" value="LEAVE_OF_ABSENCE">
														<label for="radio8"></label>
													</div>
													<!-- End Custom Radio -->
	
													<label for="radio8">휴직</label>
												</div>
	
												<div class="d-flex align-items-center">
													<!-- Custom Radio -->
													<div class="custom-radio mr-3">
														<input type="radio" id="radio7" name="radio-group"
															th:field="*{employmentStatus}" value="RESIGNATION">
														<label for="radio7"></label>
													</div>
													<!-- End Custom Radio -->
	
													<label for="radio7" class="c4">퇴사</label>
												</div>
											</div>
											<div class="mb-4">
												<button class="btn mr-4" type="submit">저장</button>
												<a
													href="#"
													class="cancel font-14 bold"
													data-dismiss="modal"
													>취소</a
												>
											</div>
										</div>
									</div>
								</form>
							</div>
							<!-- End Modal Body -->
						</div>
					</div>
				</div>
				<!-- End Contact Add New PopUp -->

				<!-- Contact Edit PopUp -->
				<div id="contactEditModal" class="modal fade">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<!-- Modal Body -->
							<div class="modal-body">
								<form action="#">
									<div class="media flex-column flex-sm-row">
										<div
											class="modal-upload-avatar mr-0 mr-sm-3 mr-md-5 mb-5 mb-sm-0">
											<div class="attach-file style--two mb-3">
												<img
													th:src="@{/img/product/pg2.png}"
													class="profile-avatar"
													alt="" />
												<div class="upload-button">
													<img
														th:src="@{/img/svg/gallery.svg}"
														alt=""
														class="svg mr-2" />
													<span>Upload Photo</span>
													<input
														class="file-input"
														type="file"
														id="fileUpload2"
														accept="image/*" />
												</div>
											</div>

											<div class="content">
												<h4 class="mb-2">Upload a Photo</h4>
												<p class="font-12 c4">
													Allowed JPG, GIF or PNG. Max size <br />
													of 800kB
												</p>
											</div>
										</div>

										<div class="contact-account-setting media-body">
											<h4 class="mb-4">Account Settings</h4>

											<div class="mb-4">
												<label class="bold black mb-2" for="as_name2"
													>Name</label
												>
												<input
													type="text"
													id="as_name2"
													class="theme-input-style"
													value="Arden Spencer"
													required />
											</div>

											<div class="mb-4">
												<label class="bold black mb-2" for="as_email2"
													>Email</label
												>
												<input
													type="email"
													id="as_email2"
													class="theme-input-style"
													value="Evangeline62@yahoo.com"
													required />
											</div>

											<div class="mb-4">
												<label class="bold black mb-2" for="as_phone2"
													>Phone</label
												>
												<input
													type="text"
													id="as_phone2"
													class="theme-input-style"
													value="(023) 708-6818 x4267"
													required />
											</div>

											<div class="mb-4">
												<label class="bold black mb-2" for="as_age2"
													>Age</label
												>
												<input
													type="text"
													id="as_age2"
													class="theme-input-style"
													value="28"
													required />
											</div>

											<div class="mb-4">
												<label class="bold black mb-2" for="as_post2"
													>Post</label
												>
												<input
													type="text"
													id="as_post2"
													class="theme-input-style"
													value="UX Researcher"
													required />
											</div>

											<div class="mb-30">
												<label class="bold black mb-2"
													>Joining Date</label
												>

												<div
													class="date datepicker dashboard-date style--two"
													id="datePickerExample2">
													<span class="input-group-addon mr-0"><img
															th:src="@{/img/svg/calender.svg}"
															alt=""
															class="svg"
													/></span>
													<input type="text" class="pl-2" required />
												</div>
											</div>

											<div class="">
												<a href="#" class="btn mr-4">Save Changes</a>
												<a
													href="#"
													class="cancel font-14 bold"
													data-dismiss="modal"
													>Cancel</a
												>
											</div>
										</div>
									</div>
								</form>
							</div>
							<!-- End Modal Body -->
						</div>
					</div>
				</div>
				<!-- End Contact Edit PopUp -->
				
			</div>
		</div>
	</div>
</div>
<!-- End Main Content -->
<!-- 사용자 script 추가 -->
<th:block layout:fragment="script">
<script th:inline="javascript">
	const mainPartSel=document.getElementById("mainPartSelect");
	const subPartSel=document.getElementById("subPartSelect");
	const partSel=document.getElementById("partSelect");
	
	mainPartSel.addEventListener("change",e=>{
		partSel.options.length=0;
		subPartSel.options.length=0;
		loadSubParts.apply(subPartSel,[parseInt(e.target.value)]);
	});
	subPartSel.addEventListener("change",e=>{
		partSel.options.length=0;
		loadParts.apply(partSel,[parseInt(e.target.value)]);
	});
	
    function loadSubParts(mainPartId) {
        fetch('/setting/sub_parts?mainPartId=' + mainPartId)
            .then(response => response.json())
            .then(data => {
                var subPartList = '';
                data.forEach(function (subPart) {
                    subPartList += '<option value="' + subPart.id + '">' + subPart.name + '</option>';
                });
                this.innerHTML = subPartList;
            })
            .catch(error => {
                console.error('subpart 목록을 불러오는 중 오류가 발생했습니다.');
            });
    }
    function loadParts(subPartId){
		fetch('/setting/parts?subPartId=' + subPartId)
            .then(response => response.json())
            .then(data => {
                // 서버에서 받은 데이터를 채웁니다.
                var partList = '';
                data.forEach(function (part) {
                    partList += '<option value="' + part.id + '">' + part.name + '</option>';
                });
                this.innerHTML = partList;
            })
            .catch(error => {
                console.error('part 목록을 불러오는 중 오류가 발생했습니다.');
            });
	}
</script>
</th:block>

</html>