
<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}"
>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
<style>
.selected {
    background-color: #f0f0f0; /* 선택한 행의 배경색을 원하는 색상으로 변경 */
}

.hidden-column {
    display: none;
}

</style>
</th:block>
<!-- Main Content -->
<div class="main-content" layout:fragment="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<!-- Card -->
				<div class="card bg-transparent">
					<!-- Contact Header -->
					<div class="contact-header d-flex align-items-sm-center flex-row bg-white mb-30" >
					
						<!-- Btn header -->
						<div class="col-12 col-sm-2 d-flex align-items-center">
							<!-- Add New Contact Btn -->
							<!-- a의 class=btn을 btn-circle로 하면 원래버튼 -->
							<div class="add-new-contact">
								<a
									href="#"
									class="btn"
									data-toggle="modal"
									data-target="#contactAddModal">
									<img
										th:src="@{/img/svg/plus_white.svg}"
										alt=""
										class="svg" />
									<span>추가</span>
								</a>
							</div>
							<!-- End Add New Contact Btn -->
						</div>
						<!-- Search header -->
						<form
							action="@{'member_setting2/'+${memberships.number}}"
							role="form"
							method="get"
							class="col-12 col-sm-10 d-flex flex-column align-items-center justify-content-end media-body mt-3 mt-sm-0"
							th:object="${membershipSearchDto}"
							>
							<!-- layer 1 -->
							<div class="row"style="width:100%; box-sizing: content-box;" >			
								<!-- Search Form -->								
								<div class="search-form" style="width:100%; box-sizing: content-box;">
									<div class="theme-input-group style--two">
										<input
											id="searchInput"
											type="text"
											class="theme-input-style"
											placeholder="검색" />
										<button id="searchBtn" type="submit">
											<img
												th:src="@{/img/svg/search-icon.svg}"
												alt=""
												class="svg" />
										</button>
									</div>
								</div>
								<!-- End Search Form -->
							</div>
						
							<!-- layer 2 -->
							<!-- Search Condition header -->
							
						<!-- End Search Condition -->
					</div>
	
					<div class="table-responsive">
						<!-- Invoice List Table -->
						<table id="datatable" class="invoice-list-table text-nowrap bg-white">
							<thead>
								<tr>
									<th>
										Id
									</th>
									<th>
										이름
									</th>
									<th>
										영문이름
									</th>
									<th>
										품목번호
									</th>
									<th>
										대분류
									</th>
									<th>
										중분류
									</th>
									<th>
										스펙
									</th>
									<th>
										단위
									</th>
									<th>
										가격
									</th>
									<th>
										교체주기
									</th>
									<th>수정</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
						<!-- End Contact List Table -->
					</div>
					
					
				</div>
				<!-- End Card -->
				
				<!-- Contact Add New PopUp -->
				<div id="contactAddModal" class="modal fade">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<!-- Modal Body -->
							<div class="modal-body">
								<form>
									<div class="media flex-column flex-sm-row">
										<div class="contact-account-setting media-body">
											<h1 class="mb-4">직원 정보 추가</h1>											
											<div class="form-group mb-4">
												<label class="bold black mb-2" for="addFormName"
													>이름</label>
												<input
													type="text"
													id="addFormName"
													class="theme-input-style"
													placeholder="이름을 입력하세요"
													required />
											</div>
											<div class="form-group mb-4">
												<label for="addFormCode" class="mb-2 black bold"
													>사원번호</label
												>
												<input
													type="number"
													class="theme-input-style"
													id="addFormCode"
													placeholder="사원번호를 입력하세요" 
													required />
											</div>
											<div class="mb-4">
												<label class="bold black mb-2" for="addFormPassword"
													>비밀번호</label
												>
												<input
													type="text"
													id="addFormPassword"
													class="theme-input-style"
													placeholder="비밀번호를 입력하세요"
													required />
											</div>
											<div class="form-group mb-4">
												<div class="row">
													<div class="col-4">
														<label for="addFormMainPartSelect" class="mb-2 black bold d-block">Main Part</label>
														<div class="custom-select style--two">
															<select class="theme-input-style" id="addFormMainPartSelect">
																<option th:each="mainPartDto : ${mainPartDtoList}"th:value="${mainPartDto.id}" th:text="${mainPartDto.name}">name?</option>
															</select>
														</div>
													</div>
													<div class="col-4">
														<label for="addFormSubPartSelect" class="mb-2 black bold d-block">Sub Part</label>
														<div class="custom-select style--two">
															<select class="theme-input-style" id="addFormSubPartSelect">
																
															</select>
														</div>
													</div>
													<div class="col-4">
														<label for="addFormPartSelect" class="mb-2 black bold d-block">Part</label>
														<div class="custom-select style--two">
															<select class="theme-input-style" id="addFormPartSelect">
																
															</select>
														</div>
													</div>
												</div>
											</div>
											<div id="addFormRadios" class="form-group mb-4">
												<label for="addFormRadios"class="mb-3 font-14 bold">재직 상태</label>
												
												<div class="row">
												<div class="col-3 d-flex align-items-center mb-3">
													<!-- Custom Radio -->
													<div class="custom-radio mr-3">
														<input type="radio" id="addFormRadio0" name="radio-group" checked="" value="EMPLOYMENT">
														<label for="addFormRadio0"></label>
													</div>
													<!-- End Custom Radio -->
	
													<label for="addFormRadio0">재직</label>
												</div>
	
												<div class="col-3 d-flex align-items-center mb-3">
													<!-- Custom Radio -->
													<div class="custom-radio mr-3">
														<input type="radio" id="addFormRadio1" name="radio-group" value="LEAVE_OF_ABSENCE">
														<label for="addFormRadio1"></label>
													</div>
													<!-- End Custom Radio -->
	
													<label for="addFormRadio1">휴직</label>
												</div>
	
												<div class="col-3 d-flex align-items-center">
													<!-- Custom Radio -->
													<div class="custom-radio mr-3">
														<input type="radio" id="addFormRadio2" name="radio-group" value="RESIGNATION">
														<label for="addFormRadio2"></label>
													</div>
													<!-- End Custom Radio -->
	
													<label for="addFormRadio2" class="c4">퇴사</label>
												</div>
												</div>
											</div>
											<div class="mb-4">
												<button id="addFormBtn" class="btn mr-4" type="button">저장</button>
												<a
													href="#"
													class="cancel font-14 bold"
													data-dismiss="modal"
													>취소</a>
											</div>
										</div>
									</div>
								</form>
							</div>
							<!-- End Modal Body -->
						</div>
					</div>
				</div>
				<!-- End Contact Add New PopUp -->

				<!-- Contact Edit PopUp -->
				<div id="contactEditModal" class="modal fade">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<!-- Modal Body -->
							<div class="modal-body">
								<form>
									<div class="media flex-column flex-sm-row">
										<div class="contact-account-setting media-body">
											<h1 class="mb-4">직원 정보 수정</h1>											
											<div class="form-group mb-4">
												<label class="bold black mb-2" for="editFormName"
													>이름</label>
												<input
													type="text"
													id="editFormName"
													class="theme-input-style"
													placeholder="이름을 입력하세요"
													required />
											</div>
											<div class="form-group mb-4">
												<label for="editFormCode" class="mb-2 black bold"
													>사원번호</label
												>
												<input
													type="number"
													class="theme-input-style"
													id="editFormCode"
													placeholder="사원번호를 입력하세요" 
													required />
											</div>
											<div class="mb-4">
												<label class="bold black mb-2" for="editFormPassword"
													>비밀번호</label
												>
												<input
													type="text"
													id="editFormPassword"
													class="theme-input-style"
													placeholder="비밀번호를 입력하세요"
													required />
											</div>
											<div class="form-group mb-4">
												<div class="row">
													<div class="col-4">
														<label for="editFormMainPartSelect" class="mb-2 black bold d-block">Main Part</label>
														<div class="custom-select style--two">
															<select class="theme-input-style" id="editFormMainPartSelect">
																<option th:each="mainPartDto : ${mainPartDtoList}"th:value="${mainPartDto.id}" th:text="${mainPartDto.name}">name?</option>
															</select>
														</div>
													</div>
													<div class="col-4">
														<label for="editFormSubPartSelect" class="mb-2 black bold d-block">Sub Part</label>
														<div class="custom-select style--two">
															<select class="theme-input-style" id="editFormSubPartSelect">
																
															</select>
														</div>
													</div>
													<div class="col-4">
														<label for="editFormPartSelect" class="mb-2 black bold d-block">Part</label>
														<div class="custom-select style--two">
															<select class="theme-input-style" id="editFormPartSelect">
																
															</select>
														</div>
													</div>
												</div>
											</div>
											<div id="editFormRadios" class="form-group mb-4">
												<label for="editFormRadios"class="mb-3 font-14 bold">재직 상태</label>
												
												<div class="row">
												<div class="col-3 d-flex align-items-center mb-3">
													<!-- Custom Radio -->
													<div class="custom-radio mr-3">
														<input type="radio" id="edirFormRadio0" name="radio-group" checked="" value="EMPLOYMENT">
														<label for="edirFormRadio0"></label>
													</div>
													<!-- End Custom Radio -->
	
													<label for="edirFormRadio0">재직</label>
												</div>
	
												<div class="col-3 d-flex align-items-center mb-3">
													<!-- Custom Radio -->
													<div class="custom-radio mr-3">
														<input type="radio" id="edirFormRadio1" name="radio-group" value="LEAVE_OF_ABSENCE">
														<label for="edirFormRadio1"></label>
													</div>
													<!-- End Custom Radio -->
	
													<label for="edirFormRadio1">휴직</label>
												</div>
	
												<div class="col-3 d-flex align-items-center">
													<!-- Custom Radio -->
													<div class="custom-radio mr-3">
														<input type="radio" id="edirFormRadio2" name="radio-group" value="RESIGNATION">
														<label for="edirFormRadio2"></label>
													</div>
													<!-- End Custom Radio -->
	
													<label for="edirFormRadio2" class="c4">퇴사</label>
												</div>
												</div>
											</div>
											<div class="mb-4">
												<button id="editFormBtn" class="btn mr-4" type="button">저장</button>
												<a
													href="#"
													class="cancel font-14 bold"
													data-dismiss="modal"
													>취소</a>
											</div>
										</div>
									</div>
								</form>
							</div>
							<!-- End Modal Body -->
						</div>
					</div>
				</div>
				<!-- End Contact Edit PopUp -->
				
			</div>
		</div>
	</div>
</div>
<!-- End Main Content -->
<!-- 사용자 script 추가 -->
<th:block layout:fragment="script">
<script th:inline="javascript">

	
	$(document).ready(function(){
		
		//231025 검색 기능
       /*
        $("#searchBtn").on("click",function(e) {
            e.preventDefault();
            page(0);
        });
        */            
		var table = $('#datatable').DataTable({
			"paging": true,          // 페이지네이션 사용
			"pageLength": 10, 		// 페이지당 항목 수
			"lengthChange": false,   // 페이지 크기 변경 기능 비활성화
			"searching": false,       // 검색 기능 사용
			"ordering": true,        // 정렬 기능 사용
			"order":[
				[0,'asc']
			],
			"info": true,            // 정보 표시
			"autoWidth": false,      // 너비 자동 조정 비활성화
			"serverSide": true,
			"processing": true,
			"ajax": {
				"url": "/tool/getpage", // 데이터를 가져올 엔드포인트 URL
				//"dataSrc": "content",   // JSON 응답에서 실제 데이터가 포함된 위치
				"data": function (d) {
					var data = {
			           "page": parseInt(d.start / d.length),
			           "size": d.length,	
			           //"order": columnsDefine[d.order[0].column].column,
			           //"search": 'tagid',
			           //"direction": d.order[0].dir.toUpperCase(),
			           //"keyword": d.search.value
			        };
			        return data;
				},
				"dataFilter": function (data) {
					data.dataSrc="content";
					data = JSON.parse(data);
					var json = {
						recordsTotal: data.totalElements,
						recordsFiltered: data.totalElements,
						data: data.content
					};  
					console.log("filtered ",data);
					return JSON.stringify(json)
			    },
			    "complete":function(data){
					console.log(data);
				}
			},
			
			"columns": [
				/*{
					"data": null,
					"render": function() {
					    // 제품 정보 표시
					    return '<label class="custom-checkbox">'+
								'<input type="checkbox" />'+
								'<span class="checkmark"></span>'+
								'</label>'+
								'<div class="star">'+
								'<a href="#"'+
								'<img'+
								'src="/img/svg/star.svg"'+
								'alt=""'+
								'class="svg"'+
								'/></a>'+
								'</div>'
					}
                },*/
				{
					"data": "id",
					"type": Number
				},
				{"data": "name"},
				{"data": "engName"},
				{"data": "code"},
				{
					"data": "subGroupDto",
					"render":function(data,type,row){
						if(type==="display"){
							return data.mainGroupDto.name;
						}
						return data;
					}
				},
				{
					"data": "subGroupDto",
					"render":function(data,type,row){
						if(type==="display"){
							return data.name;
						}
						return data;
					}
				},
				{"data": "spec"},
				{"data": "unit"},
				{"data": "price", "type":Number},
				{"data": "replacementCycle", "type":Number},
				{
					"data": null,
					"render": function(data, type, full, meta) {
						// 상태 뱃지 표시
						return '<span class="contact-edit" data-toggle="modal" data-target="#contactEditModal" style="cursor:pointer;">' +
								'<img src="/img/svg/c-edit.svg" alt="" class="svg" />' +
								'</span>';
					}
				}
			]
		});
		table.on('click', '.contact-edit', function() {
	        var data = table.row($(this).parents('tr')).data();
	        console.log(data);
			document.getElementById('editFormName').value = data.name;
            document.getElementById('editFormCode').value = data.code;
            document.getElementById('editFormPassword').value = data.password;
            document.getElementById('editFormMainPartSelect').value = data.partDto.subPartDto.mainPartDto.id;
            document.getElementById('editFormSubPartSelect').value = data.partDto.subPartDto.id;
            document.getElementById('editFormPartSelect').value = data.partDto.id;
            //document.getElementById("editFormRadio0"),
	    });
	});
    
	
	$("#addFormBtn").click(e=>{
		console.log(e);
		e.preventDefault();
		post(
			"membership/new",
			{
                name: document.getElementById('addFormName').value,
                code: document.getElementById('addFormCode').value,
                password: document.getElementById('addFormPassword').value,
                partDtoId: (document.getElementById('addFormPartSelect').value), //parseint는 걍 controller에서 하기로
                employmentStatus: document.getElementById("addFormRadio0"),
            },
			"membership"
		);
	});
	$("#editFormBtn").click(e=>{
		e.preventDefault();
		post(
			"membership/edit",
			{
				
			},
			"membership"
		);
	});
	
	function post(url,paramData,redirection){
		fetch(url, {
		  method:"POST",
		  headers:{
			  //'header': document.querySelector('meta[name="_csrf"]').content,
              "Content-Type": "application/json",
              //'X-CSRF-Token': document.querySelector('meta[name="_csrf_header"]').content
		  },
		  body: JSON.stringify(paramData),
		})
		  .then(response => {
		    if (!response.ok) {
		      throw new Error(`HTTP error! Status: ${response.status}`);
		    }
			location.href=redirection;
		    return response.json();
		  })
		  .then(data => {
			location.href=redirection;
		  })
		  .catch(error => {
		    console.error('Error:', error);
		  });
	}
</script>
</th:block>

</html>