<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		.td_btn,
		.th_btn {
			text-align: end;
		}

		.selected td {
			background-color: #67CF94;
			/* 선택한 행의 배경색을 원하는 색상으로 변경 */
			color: white;
			font-weight: 600;
			-webkit-transition: 0.2s ease;
			-o-transition: 0.2s ease;
			transition: 0.2s ease;
		}
	</style>
</th:block>
<!-- Main Content -->
<div class="main-content" layout:fragment="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<!-- Card -->
				<div id="mainCard" class="card bg-transparent">
					<!-- Contact Header -->
					<div class="contact-header d-flex align-items-sm-center flex-nowrap  flex-column flex-md-row bg-white mb-4">

						<h4 class="font-30 m-3">공기구 지급 기록</h4>
						<div class="d-flex row align-items-center ml-auto">
							<div class="col-4">
								<div class="d-flex align-items-center flex-nowrap mr-4"style="box-sizing: content-box;">
									<div class="custom-select style--two mr-4" style="max-width:200px;">
										<select class=" theme-input-style" id="searchBySelect" style="cursor: auto;">
											<option value="part">부서</option>
											<option value="membership" selected>작업자/리더</option>
											<option value="leader" hidden>리더</option>
											<option value="tool">공기구</option>
										</select>
									</div>
									<div id="searchByForm" style="width: 200px;">
										<div id="partForm" class="justify-content-between d-none">											
											<div id="part">
												선택
											</div>
											<div>
												<span id="partEditModalBtn" class="contact-edit" data-toggle="modal"
													data-target="#partEditModal" style="cursor:pointer;">
													<img src="/img/svg/c-edit.svg" alt="" class="svg" />
												</span>
											</div>
										</div>
										<div id="membershipForm" class="d-flex justify-content-between">											
											<div id="membership">
												선택
											</div>
											<div>
												<span id="membershipEditModalBtn" class="contact-edit" data-toggle="modal"
													data-target="#membershipEditModal" style="cursor:pointer;">
													<img src="/img/svg/c-edit.svg" alt="" class="svg" />
												</span>
											</div>
										</div>
										<div id="toolForm" class="justify-content-between d-none">											
											<div id="tool">
												선택
											</div>
											<div>
												<span id="toolEditModalBtn" class="contact-edit" data-toggle="modal"
													data-target="#toolEditModal" style="cursor:pointer;">
													<img src="/img/svg/c-edit.svg" alt="" class="svg" />
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Search header -->
							<div
								class="d-flex col-6 align-items-center justify-content-end media-body mt-3 mt-sm-0">
								<!-- layer 1 -->
								<div class="row flex-nowrap">


									<!-- Form Group -->
									<div class="form-group mr-2">
										<label class="mb-2 font-14 bold">시작 날짜</label>

										<!-- Date Picker -->
										<div class="dashboard-date style--four">
											<span id="start-date-btn" class="input-group-addon">
												<img th:src="@{/img/svg/calender.svg}" alt="" class="svg" />
											</span>

											<input type="text" id="start-date" placeholder="Select Date" />
										</div>
										<!-- End Date Picker -->
									</div>
									<!-- End Form Group -->

									<!-- Form Group -->
									<div class="form-group">
										<label class="mb-2 font-14 bold">종료 날짜</label>

										<!-- Date Picker -->
										<div class="dashboard-date style--four">
											<span id="end-date-btn" class="input-group-addon">
												<img th:src="@{/img/svg/calender.svg}" alt="" class="svg" />
											</span>

											<input type="text" id="end-date" placeholder="Select Date" />
										</div>
										<!-- End Date Picker -->
									</div>
									<!-- End Form Group -->


									<!-- 새로고침 / 알림? 등등 -->

								</div>

								<!-- layer 2 -->
								<!-- Search Condition header -->

								<!-- End Search Condition -->
							</div>
							<!-- End Contact Header -->
						</div>
					</div>

					<div id="containerdiv"></div>



				</div>
				<!-- End Card -->
				<!-- Membership Edit PopUp -->
				<div id="membershipEditModal" class="modal fade p-4">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<!-- Modal Body -->
							<div class="modal-body">
								<div class="media flex-column flex-sm-row">
									<div class="contact-account-setting media-body">
										<h4 id="membershipModalHeader" class="font-20 mb-3">사원명을 입력하세요</h4>
										<div class="form-group mb-3">
											<label id="membershipLabel">사번 : 120022 / 부서 :
												선강정비실1/정비안전지원섹션/정비안전지원팀</label>
											<div class="search-form" style="width:100%; box-sizing: content-box;">
												<div class="theme-input-group style--two">
													<input id="membershipInput" type="text" class="theme-input-style"
														placeholder="검색" />
													<button id="membershipSearchBtn">
														<img th:src="@{/img/svg/search-icon.svg}" alt="" class="svg" />
													</button>
												</div>
											</div>
											<input type="text" id="membershipId" hidden />
										</div>
										<div class="table-responsive mb-3">

										</div>
										<div>
											<button id="membershipSubmitBtn" class="btn mr-4" type="button">저장</button>
											<a href="#" class="cancel text-danger font-14 bold"
												data-dismiss="modal">취소</a>
										</div>
									</div>
								</div>
							</div>
							<!-- End Modal Body -->
						</div>
					</div>
				</div>
				<!-- End Membership Edit PopUp -->
				<!-- Part Edit PopUp -->
				<div id="partEditModal" class="modal fade p-4">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<!-- Modal Body -->
							<div class="modal-body">
								<div class="media flex-column flex-sm-row">
									<div class="contact-account-setting media-body">
										<h4 class="font-20 mb-3">부서명을 입력하세요</h4>
										<div class="form-group mb-3">
											<label id="partLabel">부서 : 선강정비실1/정비안전지원섹션/정비안전지원팀</label>
											<div class="search-form" style="width:100%; box-sizing: content-box;">
												<div class="theme-input-group style--two">
													<input id="partInput" type="text" class="theme-input-style"
														placeholder="검색" />
													<button id="partSearchBtn">
														<img th:src="@{/img/svg/search-icon.svg}" alt="" class="svg" />
													</button>
												</div>
											</div>
											<input type="text" id="partId" hidden />
										</div>
										<div class="table-responsive mb-3">

										</div>
										<div>
											<button id="partSubmitBtn" class="btn mr-4" type="button">저장</button>
											<a href="#" class="cancel text-danger font-14 bold"
												data-dismiss="modal">취소</a>
										</div>
									</div>
								</div>
							</div>
							<!-- End Modal Body -->
						</div>
					</div>
				</div>
				<!-- End Part Edit PopUp -->
				<!-- Tool Edit PopUp -->
				<div id="toolEditModal" class="modal fade p-4">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<!-- Modal Body -->
							<div class="modal-body">
								<div class="media flex-column flex-sm-row">
									<div class="contact-account-setting media-body">
										<h4 class="font-20 mb-3">공기구명을 입력하세요</h4>
										<div class="form-group mb-3">
											<label id="toolLabel">품목코드 : 72 / 규격 : asdf1234</label>
											<div class="search-form" style="width:100%; box-sizing: content-box;">
												<div class="theme-input-group style--two">
													<input id="toolInput" type="text" class="theme-input-style"
														placeholder="검색" />
													<button id="toolSearchBtn">
														<img th:src="@{/img/svg/search-icon.svg}" alt="" class="svg" />
													</button>
												</div>
											</div>
											<input type="text" id="toolId" hidden />
										</div>
										<div class="table-responsive mb-3">

										</div>
										<div>
											<button id="toolSubmitBtn" class="btn mr-4" type="button">저장</button>
											<a href="#" class="cancel text-danger font-14 bold"
												data-dismiss="modal">취소</a>
										</div>
									</div>
								</div>
							</div>
							<!-- End Modal Body -->
						</div>
					</div>
				</div>
				<!-- End Tool Edit PopUp -->

			</div>
		</div>
	</div>
</div>
<!-- End Main Content -->
<!-- 사용자 script 추가 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		var membershipId = 1;
		$(document).ready(function () {
			initializeDatepicker();
			abcHttp.get(
				'/membership/getbycode',
				{
					code: parseInt(document.getElementById("user-code").textContent)
				}
			).then(data => {
				return new Promise((resolved, rejected) => {
					if (data == null) {
						rejected();
					} else {
						membershipId = data.id;
						mainData.membership.id=data.id;
						mainData.membership.name=data.name;
						document.getElementById("membership").textContent=data.name;
						resolved();
					}
				});
			}).then(() => {
				load();
			});
		});

		//fetch
		function load() {
			console.log(mainData)
			abcHttp.get(
				`/supply/tool/getpage`,
				{
					partId: $('#searchBySelect').val()==="part"?mainData.part.id:0,
					membershipId:$('#searchBySelect').val()==="membership"?mainData.membership.id:0,
					toolId: $('#searchBySelect').val()==="tool"?mainData.tool.id:0,
					isWorker: $('#searchBySelect').val()==="membership",
					isLeader: $('#searchBySelect').val()==="membership",
					isApprover: $('#searchBySelect').val()==="membership",
					page: 0,
					size: 100,
					startDate: $('#start-date').val(),
					endDate: $('#end-date').val(),
				}
			).then(data => {
				console.log(data);
				const containerDiv = document.getElementById("containerdiv");
				containerDiv.innerHTML = '';
				let htmlString = ``
				if (data.empty) {
					htmlString = `<div class="row m-0 pt-3 pb-3 font-20">대여한 기록이 없습니다</div>`
					containerDiv.innerHTML = htmlString;
					return; //abcsdfwlo
				}
					htmlString = `
					<!-- Sheet -->
					<div class="sheet row bg-white m-0 pt-3 pb-3 mb-4">
						<div class="col-12" style="overflow-x:auto;">
							<table class="tool-list invoice-list-table text-nowrap bg-white">
								<thead>
									<tr>
										<th>대여승인시간</th>
										<th>정비실</th>
										<th>작업자</th>
										<th>리더</th>
										<th>승인자</th>
										<th hidden>id</th>
										<th>이름</th>
										<th>규격</th>
										<th>신청수량</th>
										<th>재지급일자</th>
									</tr>
								</thead>
								<tbody>
				   `;

				data.content.forEach(tool => {
					htmlString +=
						`
								<tr>
									<td class="time">${formatDate(tool.eventTimestamp)}</td>
									<td class="toolbox">${tool.toolboxDto.name}</td>
									<td class="worker">${tool.workerDto.name}</td>
									<td class="leader">${tool.leaderDto.name}</td>
									<td class="approver">${tool.approverDto.name}</td>
									<td class="supplyToolId" hidden>${tool.id}</td>
									<td class="name">${tool.toolDto.name}</td>
									<td class="spec">${tool.toolDto.spec}</td>
									<td class="count">${tool.count}</td>
									<td class="outstandingcount">${tool.replacementDate}</td>
								</tr>
					`;
				});
					htmlString += `
					        </tbody>
						  </table>
					    </div>
					  </div>
					  <!-- End Sheet -->`;

					var outerDiv = document.createElement('div');
					outerDiv.innerHTML = htmlString;
					containerDiv.appendChild(outerDiv);
			});
		}
		//Datepicker 초기화 (현재 날짜 기준 초기 범위 설정, 이벤트 리스너 설정)
		function initializeDatepicker() {
			const today = new Date();
			const year = today.getFullYear();
			const month = today.getMonth() + 1;
			const day = today.getDate();
			const formattedTodayDate = year + '-' + (month < 10 ? '0' : '') + month + '-' + (day < 10 ? '0' : '') + day;
			const lastMonthDate = new Date();lastMonthDate.setDate(today.getDate()-30);const formattedLastMonthDate = lastMonthDate.getFullYear() + '-' + (lastMonthDate.getMonth()+1 < 10 ? '0' : '') + (lastMonthDate.getMonth()+1) + '-' + (lastMonthDate.getDate() < 10 ? '0' : '') + lastMonthDate.getDate();
			$('#start-date').val(formattedLastMonthDate);
			$('#end-date').val(formattedTodayDate);

			$('#start-date').on('change', function () {
				load(membershipId);
				console.log('start changed')
			});
			$('#end-date').on('change', function () {
				load(membershipId);
				console.log('end changed')
			})

			$('#start-date').datepicker({
				language: 'en',
				dateFormat: 'yyyy-mm-dd',
				onSelect: function () {
					load(membershipId);
					console.log('start changed')
				}
			});
			$('#start-date-btn').on('click', function () {
				$('#start-date').datepicker('show');
			});
			$('#end-date').datepicker({
				language: 'en',
				dateFormat: 'yyyy-mm-dd',
				onSelect: function () {
					load(membershipId);
					console.log('end changed')
				}
			});
			$('#end-date-btn').on('click', function () {
				$('#end-date').datepicker('show');
			});
		}


		document.getElementById("searchBySelect").addEventListener("change",function(){
			const membership = document.getElementById("membershipForm");
			const part = document.getElementById("partForm");
			const tool = document.getElementById("toolForm");
			switch (this.value){
				case "part":
					membership.classList.toggle("d-flex",false);
					membership.classList.toggle("d-none",true);
					part.classList.toggle("d-flex",true);
					part.classList.toggle("d-none",false);
					tool.classList.toggle("d-flex",false);
					tool.classList.toggle("d-none",true);
				break;
				case "worker":
				case "leader":
				case "membership":
					membership.classList.toggle("d-flex",true);
					membership.classList.toggle("d-none",false);
					part.classList.toggle("d-flex",false);
					part.classList.toggle("d-none",true);
					tool.classList.toggle("d-flex",false);
					tool.classList.toggle("d-none",true);
				break;
				case "tool":
					membership.classList.toggle("d-flex",false);
					membership.classList.toggle("d-none",true);
					part.classList.toggle("d-flex",false);
					part.classList.toggle("d-none",true);
					tool.classList.toggle("d-flex",true);
					tool.classList.toggle("d-none",false);
				break;
			}
		});

		// =============== Search Modals ===============
		// toolList를 제외한 rentalRequestSheetFormDto 정보를 저장합니다.
		const mainData = {
			"membership": {
				"id": 0,
				"name": "",
				//"type": "worker"
			},
			"tool":{
				"id":0,
				"name":"",
			},
			"part":{
				"id":0,
				"name":"",
			},
		}
		
		// =============== Membership Search Modal ===============
		
		//작업자 수정
		document.getElementById("membershipEditModalBtn").addEventListener("click", function () {
			document.getElementById("membershipId").value = mainData.membership.id;
			document.getElementById("membershipInput").value = mainData.membership.name;
			getMembershipById(mainData.membership.id)
				.then(data => {
					document.getElementById("membershipLabel").hidden = false;
					const dataString =
						"사원번호 : " + data.code + " , " +
						"부서 : " + data.partDto.subPartDto.mainPartDto.name +
						"/" + data.partDto.subPartDto.name +
						"/" + data.partDto.name;
					document.getElementById("membershipLabel").textContent = dataString;
				})
				.catch(error => {
					document.getElementById("membershipLabel").hidden = true;
				});
			document.querySelector("#membershipEditModal .table-responsive").innerHTML = "";
		});
		//membership 수정 -> membership 수정 모달
		document.getElementById("membershipSearchBtn").addEventListener("click", function () {
			const searchName = document.getElementById("membershipInput").value;
			if (searchName.length < 1) {
				Swal.fire({
					type: "warning",
					title: "검색어 없음",
					text: "검색어를 1글자 이상 입력해주세요",
				});
				return;
			}
			getMembershipPageByName(searchName)
				.then(data => {
					if (data.empty) {
						throw new Error("검색 결과 없음");
					}

					const newTable = document.createElement('table');
					newTable.innerHTML =
						'<thead> <tr> <th> 이름 </th><th> 사원번호 </th><th> 부서 <th></th> </tr> </thead> <tbody> </tbody>';
					const newTableBody = newTable.querySelector("tbody");

					data.content.forEach(v => {
						let newRowString = "";
						newRowString += "<td>" + v.name + "</td>";
						newRowString += "<td>" + v.code + "</td>";
						newRowString += "<td>" + v.partDto.subPartDto.mainPartDto.name + " / " + v.partDto.subPartDto.name + " / " + v.partDto.name + "</td>";
						newRowString += '<td class="d-flex justify-content-between align-item-center">' +
							'<a href="#" class="btn increaseBtn p-2">' +
							'선택' +
							'</a>'

						const newRow = document.createElement("tr");
						newRow.innerHTML = newRowString;

						newRow.querySelector("a").addEventListener("click", function () {
							document.getElementById("membershipId").value = v.id;
							document.getElementById("membershipInput").value = v.name;
							document.getElementById("membershipLabel").hidden = false;
							const dataString =
								"부서 : " + v.partDto.subPartDto.mainPartDto.name +
								"/" + v.partDto.subPartDto.name +
								"/" + v.partDto.name;
							document.getElementById("membershipLabel").textContent = dataString;
							document.querySelector("#membershipEditModal .table-responsive").innerHTML = "";
						})
						newTableBody.appendChild(newRow);
					});

					document.querySelector("#membershipEditModal .table-responsive").innerHTML = "";
					document.querySelector("#membershipEditModal .table-responsive").appendChild(newTable);
				})
				.catch(error => {
					Swal.fire({
						type: "info",
						title: "검색 결과 없음",
						text: "검색 결과가 없습니다. 검색어를 다시 확인해주세요.",
					});
					return;
				});
		});
		//membership 수정 모달 -> 검색
		document.getElementById("membershipInput").addEventListener("keypress", e => {
			if (e.key === "Enter") {
				document.getElementById("membershipSearchBtn").click();
			}
		});
		//membership 수정 모달 -> 모달 내용 저장
		document.getElementById("membershipSubmitBtn").addEventListener("click", function () {
			const id = document.getElementById("membershipId").value;
			const name = document.getElementById("membershipInput").value;
			if (id <= 0) {
				Swal.fire({
					type: "error",
					title: "필수 입력 누락",
					text: "사원 정보가 선택되지 않았습니다."
				});
				return;
			}
			mainData.membership.id = id;
			mainData.membership.name = name;
			document.getElementById("membership").textContent = mainData.membership.name;
			$("#membershipEditModal").modal("hide");
			load();
		});

		//fetch
		function getMembershipById(id) {
			return new Promise((resolve, reject) => {
				abcHttp.get(
					'/membership/get',
					{
						id: id
					}
				)
					.then(data => {
						resolve(data);
					})
					.catch(error => {
						reject(error);
					});
			});
		}
		//fetch
		function getMembershipPageByName(name) {
			return new Promise((resolve, reject) => {
				abcHttp.get(
					'/membership/getpage',
					{
						page: 0,
						size: 50,
						name: name
					}
				)
					.then(data => {
						resolve(data);
					})
					.catch(error => {
						reject(error);
					});
			});
		}
		
		// =============== Part Search Modal ===============
		
		//부서 수정
		document.getElementById("partEditModalBtn").addEventListener("click", function () {
			document.getElementById("partId").value = mainData.part.id;
			document.getElementById("partInput").value = mainData.part.name;
			getMembershipById(mainData.part.id)
				.then(data => {
					document.getElementById("partLabel").hidden = false;
					const dataString =
						"사원번호 : " + data.code + " , " +
						"부서 : " + data.partDto.subPartDto.mainPartDto.name +
						"/" + data.partDto.subPartDto.name +
						"/" + data.partDto.name;
					document.getElementById("partLabel").textContent = dataString;
				})
				.catch(error => {
					document.getElementById("partLabel").hidden = true;
				});
			document.querySelector("#partEditModal .table-responsive").innerHTML = "";
		});
		//part 수정 -> part 수정 모달
		document.getElementById("partSearchBtn").addEventListener("click", function () {
			const searchName = document.getElementById("partInput").value;
			if (searchName.length < 1) {
				Swal.fire({
					type: "warning",
					title: "검색어 없음",
					text: "검색어를 1글자 이상 입력해주세요",
				});
				return;
			}
			getPartsPageByName(searchName)
				.then(data => {
						console.log(data.empty)
					if (data.empty) {
						throw new Error("검색 결과 없음");
					}

					const newTable = document.createElement('table');
					newTable.innerHTML =
						'<thead> <tr><th> 분류 </th><th> 부서 <th></th> </tr> </thead> <tbody> </tbody>';
					const newTableBody = newTable.querySelector("tbody");

					data.content.forEach(v => {
						const dtoType={
							"MAIN_PART":"mainPartDto",
							"SUB_PART":"subPartDto",
							"PART":"partDto"
						};
						const nameType={
							"MAIN_PART":"메인부서",
							"SUB_PART":"서브부서",
							"PART":"부서"
						}
						let newRowString = "";
						newRowString += "<td>" + nameType[v.type] + "</td>";
						newRowString += "<td>" + v.mainPartDto?.name + (v.subPartDto? " / " + v.subPartDto.name + (v.partDto? " / "  + v.partDto.name : ""): "" ) + "</td>";
						newRowString += '<td class="d-flex justify-content-between align-item-center">' +
							'<a href="#" class="btn increaseBtn p-2">' +
							'선택' +
							'</a>'

						const newRow = document.createElement("tr");
						newRow.innerHTML = newRowString;

						newRow.querySelector("a").addEventListener("click", function () {
							const dtoType={
								"MAIN_PART":"mainPartDto",
								"SUB_PART":"subPartDto",
								"PART":"partDto"
							};
							document.getElementById("partId").value = v[dtoType[v.type]].id;
							document.getElementById("partInput").value = v[dtoType[v.type]].name;
							document.getElementById("partLabel").hidden = false;
							const dataString =
								v.mainPartDto?.name + (v.subPartDto? " / " + v.subPartDto.name + (v.partDto? " / "  + v.partDto.name : ""): "" )
							document.getElementById("partLabel").textContent = dataString;
							document.querySelector("#partEditModal .table-responsive").innerHTML = "";
						})
						newTableBody.appendChild(newRow);
					});

					document.querySelector("#partEditModal .table-responsive").innerHTML = "";
					document.querySelector("#partEditModal .table-responsive").appendChild(newTable);
				})
				.catch(error => {
					Swal.fire({
						type: "info",
						title: "검색 결과 없음",
						text: "검색 결과가 없습니다. 검색어를 다시 확인해주세요.",
					});
					return;
				});
		});
		//part 수정 모달 -> 검색
		document.getElementById("partInput").addEventListener("keypress", e => {
			if (e.key === "Enter") {
				document.getElementById("partSearchBtn").click();
			}
		});
		//part 수정 모달 -> 모달 내용 저장
		document.getElementById("partSubmitBtn").addEventListener("click", function () {
			const id = document.getElementById("partId").value;
			const name = document.getElementById("partInput").value;
			if (id <= 0) {
				Swal.fire({
					type: "error",
					title: "필수 입력 누락",
					text: "부서 정보가 선택되지 않았습니다."
				});
				return;
			}
			mainData.part.id = id;
			mainData.part.name = name;
			document.getElementById("part").textContent = mainData.part.name;
			$("#partEditModal").modal("hide");
			load();
		});

		//fetch
		function getPartsById(id) {
			return new Promise((resolve, reject) => {
				abcHttp.get(
					'/parts/get',
					{
						partId: id
					}
				)
					.then(data => {
						resolve(data);
					})
					.catch(error => {
						reject(error);
					});
			});
		}
		//fetch
		function getPartsPageByName(name) {
			return new Promise((resolve, reject) => {
				abcHttp.get(
					'/parts/getpage',
					{
						page: 0,
						size: 50,
						name: name
					}
				)
					.then(data => {
						resolve(data);
					})
					.catch(error => {
						reject(error);
					});
			});
		}
		
		// =============== Tool Search Modal ===============
		
		//부서 수정
		document.getElementById("toolEditModalBtn").addEventListener("click", function () {
			document.getElementById("toolId").value = mainData.tool.id;
			document.getElementById("toolInput").value = mainData.tool.name;
			getMembershipById(mainData.tool.id)
				.then(data => {
					document.getElementById("toolLabel").hidden = false;
					const dataString = 
						"품목번호 : " + data.code + " , " +
						"분류 : " + data.subGroupDto.mainGroupDto.name +
						"/" + data.subToolDto.name + " , " +
						"규격 : " + data.spec;
					document.getElementById("toolLabel").textContent = dataString;
				})
				.catch(error => {
					document.getElementById("toolLabel").hidden = true;
				});
			document.querySelector("#toolEditModal .table-responsive").innerHTML = "";
		});
		//tool 수정 -> tool 수정 모달
		document.getElementById("toolSearchBtn").addEventListener("click", function () {
			const searchName = document.getElementById("toolInput").value;
			if (searchName.length < 1) {
				Swal.fire({
					type: "warning",
					title: "검색어 없음",
					text: "검색어를 1글자 이상 입력해주세요",
				});
				return;
			}
			getToolsPageByName(searchName)
				.then(data => {
						console.log(data.empty)
					if (data.empty) {
						throw new Error("검색 결과 없음");
					}

					const newTable = document.createElement('table');
					newTable.innerHTML =
						'<thead> <tr><th> 이름 </th><th> 규격 </th><th> 분류 <th></th> </tr> </thead> <tbody> </tbody>';
					const newTableBody = newTable.querySelector("tbody");

					data.content.forEach(v => {
						let newRowString = "";
						newRowString += "<td>" + v.name + "</td>";
						newRowString += "<td>" + v.spec + "</td>";
						newRowString += "<td>" + v.subGroupDto.mainGroupDto.name + " / " + v.subGroupDto.name + "</td>";
						newRowString += '<td class="d-flex justify-content-between align-item-center">' +
							'<a href="#" class="btn increaseBtn p-2">' +
							'선택' +
							'</a>'

						const newRow = document.createElement("tr");
						newRow.innerHTML = newRowString;

						newRow.querySelector("a").addEventListener("click", function () {
							document.getElementById("toolId").value = v.id;
							document.getElementById("toolInput").value = v.name;
							document.getElementById("toolLabel").hidden = false;
							const dataString =
								"품목번호 : " + v.code + " , " +
								"분류 : " + v.subGroupDto.mainGroupDto.name +
								"/" + v.subGroupDto.name + " , " +
								"규격 : " + v.spec;
							document.getElementById("toolLabel").textContent = dataString;
							document.querySelector("#toolEditModal .table-responsive").innerHTML = "";
						})
						newTableBody.appendChild(newRow);
					});

					document.querySelector("#toolEditModal .table-responsive").innerHTML = "";
					document.querySelector("#toolEditModal .table-responsive").appendChild(newTable);
				})
				.catch(error => {
					Swal.fire({
						type: "info",
						title: "검색 결과 없음",
						text: "검색 결과가 없습니다. 검색어를 다시 확인해주세요.",
					});
					return;
				});
		});
		//tool 수정 모달 -> 검색
		document.getElementById("toolInput").addEventListener("keypress", e => {
			if (e.key === "Enter") {
				document.getElementById("toolSearchBtn").click();
			}
		});
		//tool 수정 모달 -> 모달 내용 저장
		document.getElementById("toolSubmitBtn").addEventListener("click", function () {
			const id = document.getElementById("toolId").value;
			const name = document.getElementById("toolInput").value;
			if (id <= 0) {
				Swal.fire({
					type: "error",
					title: "필수 입력 누락",
					text: "공기구 정보가 선택되지 않았습니다."
				});
				return;
			}
			mainData.tool.id = id;
			mainData.tool.name = name;
			document.getElementById("tool").textContent = mainData.tool.name;
			$("#toolEditModal").modal("hide");
			load();
		});

		//fetch
		function getToolsById(id) {
			return new Promise((resolve, reject) => {
				abcHttp.get(
					'/tool/get',
					{
						id: id
					}
				)
					.then(data => {
						resolve(data);
					})
					.catch(error => {
						reject(error);
					});
			});
		}
		//fetch
		function getToolsPageByName(name) {
			return new Promise((resolve, reject) => {
				abcHttp.get(
					'/tool/getpage',
					{
						page: 0,
						size: 50,
						name: name
					}
				)
					.then(data => {
						resolve(data);
					})
					.catch(error => {
						reject(error);
					});
			});
		}
		

		function formatDate(inputDate) {
			const dateObject = new Date(inputDate);
			const year = dateObject.getFullYear();
			const month = (dateObject.getMonth() + 1).toString().padStart(2, '0');
			const day = dateObject.getDate().toString().padStart(2, '0');
			const hours = dateObject.getHours().toString().padStart(2, '0');
			const minutes = dateObject.getMinutes().toString().padStart(2, '0');

			const formattedDate = `${year}-${month}-${day} ${hours}:${minutes}`;

			return formattedDate;
		}

	</script>
</th:block>

</html>