html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
.content {
    height: 100%;
    margin-bottom:100px;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.header {
  position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
.header span {
  font-size: 16px;
}
.header span.login_user {
  font-weight: 700;
}
.header .header_left {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.header .header_left h1 {
  font-weight: 700;
  font-size: 2rem;
}
.header .header_left .login_btn {
  border: 1px solid #777;
  border-radius: 20px;
  padding: 0.2rem 2rem;
  font-size: 1.4rem;
}
.header .header_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header.header_custom {
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 18%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.header.header_custom .header_top {
  width: 100%;
  height: 10%;
  padding: 2rem 1.5rem;
  background-color: #d4d4d4;
  border-bottom-right-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header.header_custom .header_top h1 {
  font-size: 2rem;
  font-weight: 700;
}
.header.header_custom .header_bottom {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header.header_custom .header_bottom span:first-child {
  font-size: 3rem;
}
.header.header_custom .header_login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem;
  gap: 1rem;
  background-color: #fff;
}
.header.header_custom .header_login .login_btn {
  border: 1px solid #777;
  border-radius: 20px;
  padding: 0.2rem 2rem;
  font-size: 1.4rem;
}





.content_wrap {
  padding: 2rem;
}
.content_wrap .status_wrap {
  margin-bottom: 2rem;
}
.content_wrap .status_wrap .status_cover {
  display: flex;
  gap: 0.5rem;
}
.content_wrap .status_wrap .status_cover .status_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  width: calc(10% - 0.25rem);
  height: 8rem;
}
.content_wrap .status_wrap .status_cover .status_list a {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.content_wrap .status_wrap .status_cover .status_list span {
  font-size: 1.4rem;
}
.content_wrap .status_wrap .status_cover .status_list p {
  font-weight: 800;
  font-size: 2.4rem;
}
.content_wrap .info_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50vh;
  margin-bottom: 2rem;
  gap: 2rem;
}
.content_wrap .info_wrap .info_table_cover {
  overflow-y: auto;
  width: 100%;
}
.content_wrap .info_wrap .info_table_cover .info_table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0.2rem 0.6rem;
  text-align: center;
  position: relative;
}
.content_wrap .info_wrap .info_table_cover .info_table th,
.content_wrap .info_wrap .info_table_cover .info_table td {
  padding: 1.2rem 1.4rem;
  border-radius: 2px;
  font-size: 1.4rem;
  vertical-align: middle;
}
.content_wrap .info_wrap .info_table_cover .info_table th a,
.content_wrap .info_wrap .info_table_cover .info_table td a {
  font-size: 1.4rem;
}
.content_wrap .info_wrap .info_table_cover .info_table th {
  background-color: #e8e8e8;
  position: sticky;
  top: 0;
  left: 0;
}
.content_wrap .info_wrap .info_table_cover .info_table td {
  background-color: #f5f5f5;
}
.content_wrap .info_wrap .info_table_cover .info_table td a {
  text-decoration: underline;
}
.content_wrap .info_wrap .info_state {
  width: 40%;
  height: 100%;
  margin-top: 0.6rem;
}
.content_wrap .info_wrap .info_state .info_state_tit {
  text-align: center;
  font-size: 1.4rem;
  background-color: #e8e8e8;
  padding: 1.2rem 0;
  border-radius: 2px;
  margin-bottom: 1rem;
}
.content_wrap .info_wrap .info_state .info_state_cont {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: 89%;
}
.content_wrap .info_wrap .info_state .info_state_cont .info_state_cont_list {
  width: calc(50% - 0.25rem);
  height: calc(33.333% - 0.25rem);
  background-color: #e8e8e8;
  border-radius: 4px;
  padding: 1.5rem;
  color: #888;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content_wrap .info_wrap .info_state .info_state_cont .info_state_cont_list .info_state_cont_tit {
  width: 100%;
  display: inline-block;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #fff;
}
.content_wrap .info_wrap .info_state .info_state_cont .info_state_cont_list .info_state_cont_txt {
  font-size: 3rem;
  font-weight: 600;
}
.content_wrap .info_wrap .info_state .info_state_cont .info_state_cont_list .info_state_cont_state {
  font-size: 3rem;
  font-weight: 600;
  text-align: right;
}
.content_wrap .error_wrap .error_tit {
  text-align: center;
  font-size: 1.4rem;
  background-color: #e8e8e8;
  padding: 1.4rem 0;
  border-radius: 2px;
  margin-bottom: 1rem;
}
.content_wrap .error_wrap .error_table_cover {
  overflow-y: auto;
  width: 100%;
  height: 20vh;
}
.content_wrap .error_wrap .error_table_cover .error_table {
  width: 100%;
  border-collapse: separate;
  text-align: center;
  position: relative;
}
.content_wrap .error_wrap .error_table_cover .error_table th,
.content_wrap .error_wrap .error_table_cover .error_table td {
  padding: 1.4rem 2.5rem;
  border-radius: 2px;
  font-size: 1.4rem;
  background-color: #f5f5f5;
}
.content_wrap .error_wrap .error_table_cover .error_table th {
  position: sticky;
  top: 0;
  left: 0;
  width: calc(20% - 0.2rem);
}
.content_wrap .tab-content > div {
  display: block;
}
.content_wrap .tab-content > div.active {
  display: block;
  padding-top: 15px;
}
.content_wrap .flex-tb {
  display: flex;
  font-size: 1.6rem;
  gap: 1rem;
}
.content_wrap .flex-tb.control {
  flex-wrap: wrap;
}
.content_wrap .flex-tb.control li {
  width: calc(25% - 9px);
}
.content_wrap .flex-tb.control .th {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 0;
}
.content_wrap .flex-tb.control .th p {
  background-color: #e8e8e8;
  padding: 10px;
  border-radius: 5px;
}
.content_wrap .flex-tb.control .remote_control {
  width: 100%;
  height: 250px;
  margin-top: 15px;
  position: relative;
  background-color: #f3f3f3;
}
.content_wrap .flex-tb.control .remote_control .on_off {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 28%;
  left: 48%;
  transform: translate(-50%, -50%);
  background-image: url(../img/on_off_button.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 100;
}
.content_wrap .flex-tb.control .remote_control .remote_control_bg {
  background-image: url(../img/body.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.content_wrap .flex-tb.control .remote_control .remote_control_btn_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.content_wrap .flex-tb.control .remote_control .remote_control_btn_wrap button {
  font-weight: bold;
  width: 33.333%;
}
.content_wrap .flex-tb.control .remote_control .remote_control_btn_wrap.a {
  position: absolute;
  top: 44%;
  left: 0;
  transform: translateY(-50%);
  padding: 0 6% 0 2%;
}
.content_wrap .flex-tb.control .remote_control .remote_control_btn_wrap.b {
  position: absolute;
  top: 62%;
  left: 0;
  transform: translateY(-50%);
  padding: 0 6% 0 2%;
}
.content_wrap .flex-tb.control .remote_control .remote_control_btn_wrap.b button:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.content_wrap .flex-tb li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
  color: #000;
}
.content_wrap .flex-tb li:first-child > div.th:first-child {
  color: #000;
}
.content_wrap .flex-tb li:first-of-type > div.th:nth-child(2) {
  background-color: #417bb6;
}
.content_wrap .flex-tb li:first-of-type > div.th:nth-child(3) {
  background-color: #bc7e7e;
}
.content_wrap .flex-tb li:first-of-type > div.th:nth-child(4) {
  background-color: #54abe3;
}
.content_wrap .flex-tb li:first-of-type > div.th:nth-child(5) {
  background-color: #45bf64;
}
.content_wrap .flex-tb li:first-of-type > div.th:nth-child(6) {
  background-color: #da9155;
}
.content_wrap .flex-tb li:first-of-type > div.th:nth-child(7) {
  background-color: #e05b4b;
}
.content_wrap .flex-tb li:first-of-type > div.th::after {
  display: none;
}
.content_wrap .flex-tb .th {
  justify-content: center;
  width: 33.333%;
  text-align: center;
  background-color: #e8e8e8;
  margin-left: 1px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  padding: 10px;
  color: #000;
}
.content_wrap .state_section {
  display: flex;
  gap: 1rem;
}
.content_wrap .state_section .air_state {
  width: 33.333%;
  margin-top: 15px;
}
.content_wrap .state_section .air_state .air_state_top {
  display: flex;
  align-items: center;
  gap: 6px;
}
.content_wrap .state_section .air_state .air_state_top .air_state_top_cont {
  width: 25%;
  height: 146px;
  border: 1px solid #a4a8b2;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content_wrap .state_section .air_state .air_state_top .air_state_top_cont p {
  font-size: 25px;
  font-weight: bold;
  color: #515153;
}
.content_wrap .state_section .air_state .air_state_top .air_state_top_cont p::before {
  content: "";
  display: block;
  margin: 20px 0;
  width: 73px;
  height: 1px;
  background-color: #a4a8b2;
}
.content_wrap .state_section .air_state .air_state_bot {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 15px;
}
.content_wrap .state_section .air_state .air_state_bot .air_state_bot_cont {
  width: calc(33.333% - 4px);
  height: 100%;
  background-color: #ccc;
  color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.content_wrap .state_section .air_state .air_state_bot .air_state_bot_cont div {
  padding: 10px;
}
.content_wrap .state_section .air_state .air_state_bot .air_state_bot_cont span {
  font-size: 12px;
}
.content_wrap .state_section .air_state .air_state_bot .air_state_bot_cont span::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: block;
  margin-top: 4px;
  margin-bottom: 12px;
}
.content_wrap .state_section .air_state .air_state_bot .air_state_bot_cont p {
  font-size: 24px;
}
.content_wrap .state_section .air_state .air_state_bot .air_state_bot_cont p:last-child {
  text-align: right;
  font-size: 20px;
  margin-top: 8px;
}
.content_wrap .state_section .air_state .air_state_bot .air_state_bot_cont.a {
  background: linear-gradient(135deg, #99cccc, #47b5ca);
}
.content_wrap .state_section .air_state .air_state_bot .air_state_bot_cont.b {
  background: linear-gradient(135deg, #e47d6f, #eeaa72);
}
.content_wrap .state_section .air_state .air_state_bot .air_state_bot_cont.c {
  background: linear-gradient(135deg, #99cccc, #47b5ca);
}
.content_wrap .state_section .air_state .air_state_bot .air_state_bot_cont.d {
  background: linear-gradient(135deg, #62a5d0, #6182b8);
}
.content_wrap .state_section .air_state .air_state_bot .air_state_bot_cont.e {
  background: linear-gradient(135deg, #edd188, #edb772);
}
.content_wrap .state_section .air_state .air_state_bot .air_state_bot_cont.f {
  background: linear-gradient(135deg, #99cccc, #47b5ca);
}
.content_wrap .state_section .operate_state {
  width: 33.333%;
  margin-top: 15px;
  position: relative;
}
.content_wrap .state_section .operate_state .operate_state_bg {
  background-image: url(../img/Vbody.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: relative;
}
.content_wrap .state_section .operate_state .oprate_state_img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.content_wrap .state_section .operate_state .oprate_state_img.a {
  background-image: url(../img/Ventilation.png);
}
.content_wrap .state_section .remote_control {
  width: 33.333%;
  margin-top: 15px;
  position: relative;
}
.content_wrap .state_section .remote_control:first-child button {
  position: absolute;
  top: 42%;
  left: 10%;
}
.content_wrap .state_section .remote_control::before {
  content: "";
  display: block;
  position: absolute;
  top: 32%;
  left: 48%;
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
  background-image: url(../img/on_off_button.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 100;
}
.content_wrap .state_section .remote_control .remote_control_bg {
  background-image: url(../img/body.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.content_wrap .state_section .remote_control .remote_control_btn_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.content_wrap .state_section .remote_control .remote_control_btn_wrap button {
  font-weight: bold;
  width: 33.333%;
}
.content_wrap .state_section .remote_control .remote_control_btn_wrap.a {
  position: absolute;
  top: 44%;
  left: 0;
  transform: translateY(-50%);
  padding: 0 6% 0 2%;
}
.content_wrap .state_section .remote_control .remote_control_btn_wrap.b {
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-50%);
  padding: 0 6% 0 2%;
}
.content_wrap .state_section .remote_control .remote_control_btn_wrap.b button:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}